[2018-04-24 00:03] taquitos opened #734 "Don't load fastfile when you navigate to project, only load on demand"
When I navigate to a project from the dashboard, I see:
[code]

we don't need the fastfile then, so let's make sure we don't do this in 1.0

This probably will be taken care of by the Angular front end (using different end points), so this is more of a note to make sure we load it only on demand 👍

[2018-04-24 00:06] taquitos opened #735 "Missing variable during Bundler magic: `options`"
[code]
related to https://github.com/fastlane/ci/pull/718

[2018-04-24 00:17] minuscorp commented on #735
🤦‍♂️ just need to add a options hash with that key to true, could you just push it right wait way? It's way too late here, or I can tackle this tomorrow morning

[2018-04-24 00:25] taquitos commented on #573
This is actually more involved because it exposes a problem with our authorization. Still digging in.

[2018-04-24 08:01] KrauseFx opened #738 "Gemfile each dependency needs a comment on what we need it for"
We tried to have this consistently, but I saw some newer dependencies don't have a comment. Let's fix that 🚀

[2018-04-24 09:20] KrauseFx opened #744 "Checking for existing resources multiple times"
e.g. for the user, we check in the service, as well as into the data source

- https://github.com/fastlane/ci/blob/master/app/services/user_service.rb#L43-L46
- https://github.com/fastlane/ci/blob/master/app/services/data_sources/json_user_data_source.rb#L170-L178

It seems like we probably don't want to check from inside the `json_user_data_source.rb`, as we might have multiple implementations of

[2018-04-24 12:32] KrauseFx opened #748 "[Idea] Parse and show iOS test results natively"
As this is a mobile CI, and in the beginning we focus mostly on iOS, we have a great opportunity to build something really nice:

With [fastlane](https://fastlane.tools) and with that [fastlane scan](https://fastlane.tools/scan) which uses [xcpretty](https://github.com/supermarin/xcpretty) to parse the build output and test results.

Currently we seem to parse the JUnit file that's generated by xc

[2018-04-24 15:47] nakhbari opened #749 "Login in Web Application"
#### Backend #753
- [x] JSON end point to login user and issue a JW Token
- [x] Enforce token auth all Data endpoints (except login of course)
#### Frontend #752
- [x] Create Login Page Stub
- [x] Create Auth service that handles server login
- [x] Store JWT in local storage
- [x] Attach JWT to all outgoing HTTP requests
- [x] Add Listener to all data service methods to redirect to login if `401`

[2018-04-24 16:03] nakhbari opened #750 "Add DataService method to POST new project"
Parent Issue: #713

[2018-04-24 16:12] taquitos commented on #744
Agreed 👍

[2018-04-24 16:32] KrauseFx commented on #733
Marking this as blocked for now, as this is something a full-time employee should build, as it's not a one-off task, it will probably require follow-up work 👍

[2018-04-24 16:36] #750 closed

[2018-04-24 17:08] minuscorp commented on #749
Are we thinking on using [JWT Tokens](https://github.com/auth0/angular-jwt)?

[2018-04-24 17:10] nakhbari commented on #749
I do think we might want to move to JWT tokens in the near future.

[2018-04-24 17:13] minuscorp commented on #749
Not for now? For now just plain session token?

[2018-04-24 17:14] KrauseFx commented on #749
I heard some really good things about JWT tokens, especially from orta https://twitter.com/orta/status/798457085872799744

I haven't looked into how they look exactly and if they were useful for us, but from what I understand, we could avoid the need for creating separate user accounts as we currently do.

I don't know enough about it yet, but I think it might be worth looking into

[2018-04-24 17:27] minuscorp commented on #749
Maybe we should split this issue into smaller ones (front-end vs back-end)?

[2018-04-24 17:33] nakhbari commented on #749
@minuscorp Yes! Let me do that

[2018-04-24 17:34] nakhbari opened #752 "[frontend] Login in Web Application"
Parent Issue: #749

- [x] Create Login Page Stub
- [x] Create Auth service that handles server login
- [x] Store JWT in local storage
- [x] Attach JWT to all outgoing HTTP requests
- [x] Add Listener to all data service methods to redirect to login if `401` is returned. Maybe `HttpInterceptor`?
- [x] Store expiry date of the token in order to determine if the user's token is still valid.

[2018-04-24 17:35] nakhbari opened #753 "[backend] Login in Web Application"
Parent Issue: #749

- [x] JSON end point to login user and issue a JW Token
- [x] Enforce token auth all Data endpoints (except login of course)

[2018-04-24 17:41] minuscorp commented on #708
I actually need the build section to be built before adding the sha's link

[2018-04-24 17:52] nakhbari commented on #708
@minuscorp Can we not add this here?
![image](https://user-images.githubusercontent.com/2754461/39204748-80750404-47ad-11e8-8f65-6fc3b66a7dfd.png)

[2018-04-24 18:01] minuscorp commented on #708
oh wow, I'm an idiot

[2018-04-24 19:57] minuscorp commented on #753
Someone wants this or can I grab it?😁

[2018-04-24 20:06] nakhbari commented on #753
Go for it!

[2018-04-24 21:10] nakhbari commented on #713
Gonna pick up the dialog frontend work.

[2018-04-25 08:40] KrauseFx opened #758 "Failed builds (or crashed builds) don't call the `ensure_block` block"
[code]

While I was working on testing the `unset_build_specific_environment_variables` method, I noticed it doesn't get called.

[code]
all in `build_runner.rb`

From what I found out, the `ensure_block` just isn't called by TaskQueue, but I'm not 100% sure. This will require some more digging into how the `ensure_block` is called.

[2018-04-25 08:41] KrauseFx commented on #758
@taquitos Before digging into this myself, maybe you know more? :)

[2018-04-25 08:49] KrauseFx commented on #744
Alright, solving this for environment variables for now 👍

[2018-04-25 09:03] #708 closed

[2018-04-25 09:25] KrauseFx opened #761 "Remove unnecessary complexity in JSONUserDataSource"
https://github.com/fastlane/ci/blob/8f014bcfe5515580a6870ec9a354dfda4117f6f4/app/services/data_sources/json_user_data_source.rb#L190-L201

The above method is used to update and to delete a user

https://github.com/fastlane/ci/blob/8f014bcfe5515580a6870ec9a354dfda4117f6f4/app/services/data_sources/json_user_data_source.rb#L132-L146

However in Ruby, we don't need to know the index, we can just dir

[2018-04-25 09:51] KrauseFx opened #764 "[Discussion] When and how to save changes in configuration files"
Based on https://github.com/fastlane/ci/pull/745, it seems like we never even commit any changes to `users.json` inside the `ci-config` repo. As a result, it's the same for the environment variable management I work on with https://github.com/fastlane/ci/pull/747

A few questions

1. Does each `*_service` need its own `commit_repo_changes!` method?
1. Do we call `commit_repo_changes!` every single

[2018-04-25 10:01] KrauseFx commented on #744
This is basically solved if we implement https://github.com/fastlane/ci/issues/761

[2018-04-25 10:36] minuscorp commented on #764
This purpose is for what I designed #459 #559 if someone wants to take a look

[2018-04-25 15:45] KrauseFx opened #766 "[Idea] Integration with appetize"
More info about the service https://appetize.io/

This would be really - we already [integrate with the service](https://fabric.io/blog/fastlane-updates-powerful-prs-enhanced-deployment). With `fastlane.ci` we can now nicely render the app's preview as part of the CI build details, the project page or similar.

I could imagine this being pretty useful for developers, and an easy win, as we already

[2018-04-25 17:06] KrauseFx commented on #764
Ahhh got it! Makes sense. I think now is a good time to go ahead with them. Which of the 2 PRs should I review?

[2018-04-25 17:08] minuscorp commented on #764
#359 defines the operators and how to work with them, #459 is a use-case of them in the `ProjectService` (as an example of usage of the operators).

[2018-04-25 17:17] KrauseFx commented on #764
It looks like they're the exact same 😉

[2018-04-25 21:10] taquitos commented on #758
I would expect this to work if the exception is happening in the `work_block` on that task.
We have some unit tests that I think cover that case.
Is it possible the server is dying before the log buffer is flushed to stdio?

[2018-04-26 18:47] minuscorp commented on #752
I've read that a good approach is to prompt for user login as a modal form (just as we do for creating a new project) whenever the authentication is wrong for certain request. That way we always make sure we're not redirecting the user to a login page whenever is not necessary (i.e., user is not logged in at all, it should be redirected to `/login`) and the user can continue where he left everythi

[2018-04-26 19:56] taquitos opened #767 "Make new frontend (Angular) default frontend instead of erb"
We've made a lot more progress on our Angular hotness. Let's switch over to using that by default now, and fleshing out any missing parts!
- [ ] Add env var to opt out if necessary

[2018-04-27 15:53] #439 closed

[2018-04-27 18:56] taquitos commented on #732
So far this doesn't seem to impact us

[2018-04-30 15:10] KrauseFx opened #771 "`file_semaphore` is a class attribute instead of a property of the data source object"
This will lock too much with the changes coming with https://github.com/fastlane/ci/issues/643, where we have multiple files (one for each project)

[2018-04-30 16:33] KrauseFx commented on #643
I feel like branch specific settings are very advanced, and not something we need for a 1.0. So I set up this issue to be closed once the PR is merged 👍

[2018-04-30 16:34] KrauseFx commented on #441
Fixed with https://github.com/fastlane/ci/pull/768

[2018-04-30 16:50] KrauseFx commented on #758
I don't know, something to look into, I'll tag this issue accordingly 👍

[2018-04-30 16:54] KrauseFx commented on #744
Moving this to 1.0 so we can check back later if this is solved already 👍 Seems more like a small detail, than a crucial thing to change

[2018-04-30 16:58] KrauseFx opened #774 "Remove `sinatra-flash` dependency after the switch to the new frontend"
Depends on https://github.com/fastlane/ci/issues/767

[2018-04-30 17:01] KrauseFx commented on #451
I guess the actual controller implementation is small, and this is mostly a frontend task, right? cc @nakhbari

[2018-04-30 17:02] KrauseFx commented on #456
Yes, this is a great feature, but I feel like something we don't yet need for a successful beta release, moving this to the 1.0 milestone for now 👍

[2018-04-30 17:03] KrauseFx commented on #445
Yes, I guess this is something we need to solve before a beta release

[2018-04-30 17:04] KrauseFx commented on #446
This could potentially be moved to the 1.0 milestone, however I think it should still be aimed for for Beta

[2018-04-30 17:05] #441 closed

[2018-04-30 17:06] KrauseFx commented on #463
I actually don't know the status on this issue, this is something we'll have to look into and potentially invest more time in

[2018-04-30 17:06] KrauseFx commented on #514
I guess this can be removed with the ongoing front-end work eventually gonna replace this anyway? If so, feel free to close @taquitos 👍

[2018-04-30 17:06] KrauseFx commented on #556
I think this is fixed 👍

[2018-04-30 17:06] #556 closed

[2018-04-30 17:07] KrauseFx commented on #573
This is complete for now, from what I see 👍 Nice!

[2018-04-30 17:07] #573 closed

[2018-04-30 17:09] KrauseFx commented on #575
Ha, this is actually a funny issue, it will require an update in _fastlane_ to use `UI.message(` for printing out every table, across the whole code base. I'm not sure how to pass the resulting string to a message, but I'm sure it's somehow possible 👍

[2018-04-30 17:10] KrauseFx commented on #578
This might need some more love with the new front-end work, tagging it as such for now 👍

[2018-04-30 17:11] KrauseFx commented on #582
I know there have been some changes to this code recently, but I have to admit, I don't know the current state. Does finding the Fastfile work now, after running multiple builds? cc @taquitos @minuscorp

[2018-04-30 17:12] KrauseFx commented on #582
Might be related to the original issue of https://github.com/fastlane/ci/issues/605

[2018-04-30 17:12] #643 closed

[2018-04-30 17:12] minuscorp commented on #582
As far as I've tested recently, this haven't happened to me anymore, but I'll try to test it this week to double-check

[2018-04-30 17:13] KrauseFx commented on #645
@minuscorp what do you mean?

Alright, we have the link with a simple Google Survey for now, let's close this for now 👍

[2018-04-30 17:13] #645 closed

[2018-04-30 17:14] KrauseFx commented on #448
Yes, this is a great feature, but I feel like something we don't yet need for a successful beta release, moving this to the 1.0 milestone for now 👍

[2018-04-30 17:14] taquitos commented on #514
Good point @KrauseFx, we're going to remove all this in the future.

[2018-04-30 17:14] #514 closed

[2018-04-30 17:15] KrauseFx commented on #699
@minuscorp is that still something you work on 👍 Sounds like something that needs to be fixed 💯

[2018-04-30 17:16] KrauseFx commented on #700
I think I've seen this error before, but I think there is no reliable way to reproduce, right?

[2018-04-30 17:16] minuscorp commented on #645
About a discussion forum with the community besides the issues related with the CI itself

[2018-04-30 17:18] KrauseFx commented on #514
Getting things done, the right way ✅

[2018-04-30 17:19] #738 closed

[2018-04-30 17:25] KrauseFx commented on #452
As described in the use case, we decided not to edit the trigger type for the time being

[2018-04-30 17:25] KrauseFx commented on #71
This should be addressed with https://github.com/fastlane/ci/pull/459

[2018-04-30 17:37] #767 closed

[2018-04-30 18:31] minuscorp commented on #699
This is what I'm getting now:
[code]
This seems to be correct (although I didn't made a single change) is this correct? cc @taquitos @KrauseFx

[2018-04-30 19:00] taquitos commented on #699
Two things:
1. `manual_build_ee78c7fa-73f0-484c-ad3e-28d584bb2c08` should go under `builds/`
2. `manual_build_ee78c7fa-73f0-484c-ad3e-28d584bb2c08` should probably have a build number appended to it as well, since you could execute multiple manual builds for the same SHA, so maybe:

[code]

[2018-04-30 20:25] minuscorp commented on #699
Will work on it tomorrow!

[2018-05-01 09:02] KrauseFx opened #783 "Allow passing of parameters when triggering a lane manually"
This will be important for manual builds: when triggering a build, we can allow the user to pass any parameters (simple key value hash), that will be passed to fastlane. Many setups use this to e.g. pass the version number, scheme, etc. This will be used for deploy or beta release automation setups 👍

[2018-05-01 16:10] KrauseFx commented on #451
Sounds good - maybe we can simplify it for now, and have the confirmation dialog contain a dropdown for the available branches, defaulting to the repo's default branch (usually `master`)?

[2018-05-01 16:28] KrauseFx commented on #570
This is something we should do for the beta, as it probably won't be backwards compatible

[2018-05-01 16:30] KrauseFx commented on #570
Also kind of related to https://github.com/fastlane/ci/issues/481

[2018-05-01 16:33] KrauseFx opened #784 "Implement onboarding"
This issue will basically include all the tasks needed to implement the fastlane.ci onboarding with the new front-end system 👍

- [x] Endpoint to determine whether or not the server needs to be configured
- [x] Point to Onboarding page when server needs configuration on web app init
- [x] Onboarding Page Mocks

#### Frontend
- [x] Route to onboarding when server is not configured
- [x] Add stepper

[2018-05-01 16:34] KrauseFx opened #785 "🚀 Working towards a successful beta launch"
This issue described the `Beta` milestone https://github.com/fastlane/ci/milestones/14

For the beta release, `fastlane.ci` is ready to be used & stable, however maybe not 100% battle-tested for larger setups yet

### Main pieces missing for a successful beta release

**Backend**

- ~~Support for distributed builds (https://github.com/fastlane/ci/issues/457 in progress @snatchev @bogdanbrato)~~
-

[2018-05-01 16:36] taquitos commented on #783
Yeah, 1.0 for sure 👍

[2018-05-01 16:37] taquitos commented on #570
Yeah, I think we want the lane to still live on the project. So that means:
Build is what you get when you mash together a project + the trigger

[2018-05-01 16:37] KrauseFx opened #786 "Support for streaming fastlane output to the new frontend"
Currently this is implemented in a hacky way over there https://github.com/fastlane/ci/blob/021893179b45aee1440a227dc8df0573c8d53b18/app/features/build/views/build.erb#L96-L139

[2018-05-01 16:41] KrauseFx opened #787 "Manage global environment variables in the new frontend"
Basically the view of `/environment_variables_erb` ideally listing, adding, editing and deleting global ENV variables

[2018-05-01 16:49] nakhbari commented on #787
Do we want a whole different page for all the ENV vars, or would we want to have the ability to edit them on each level (project level and CI top level)?

[2018-05-01 16:54] KrauseFx commented on #787
I think we can follow what we wrote up in the our use cases with

- [edit_global_env_variables.md](https://github.com/fastlane/ci/blob/master/docs/use_cases/edit_global_env_variables.md)
- [edit_project_env_variables.md](https://github.com/fastlane/ci/blob/master/docs/use_cases/edit_project_env_variables.md)

Basically the project level ENV variables would be on a project settings level, while the

[2018-05-01 16:54] nakhbari commented on #784
We're gonna need a way to know when the CI hasn't been setup yet.

I think @taquitos suggested we make a `/onboard` url and indicate in our Repo that they must go there first for now.

[2018-05-01 16:56] nakhbari commented on #452
@KrauseFx so should we close this issue?

[2018-05-01 17:01] taquitos commented on #784
I think we should have an endpoint that our frontend queries for an initial payload that contains things like localization info, and other constants that the server should be providing. As part of that payload, we should also indicate whether the server is totally setup and ready.

[2018-05-01 17:04] KrauseFx commented on #445
Working on this now 👍

[2018-05-01 17:08] taquitos commented on #452
@nakhbari 🌮

[2018-05-01 17:34] nakhbari opened #790 "Display server information and feedback"
We should show the server version in the Angular app. I was also thinking of making this a hub for things like feedback. I really like how Firebase did it.

#### Tasks
- [ ] Add a new component for this little box
- [ ] Add box in the app component in the corner
- [ ] Make component expand on click
- [ ] Add send feedback button in the expanded component

#### Quick mock
![image](https://user-imag

[2018-05-01 17:39] nakhbari commented on #448
Is this to search through the projects? I didn't add this to the original task for the dashboard because i was under the impressions that the number of projects would be low. Is that not the case?

[2018-05-01 18:46] minuscorp commented on #699
So `manual_build_ee78c7fa-73f0-484c-ad3e-28d584bb2c08`, that last number is a `SecureRandom.uuid`
[code]
So there won't be collisions between two manual triggers over the same `sha` that creates a directory with the same name. So I think there's no action to be made here?

[2018-05-01 20:51] taquitos commented on #448
We haven't spec'd it out, but potentially, it could act like how Finder does. It could search metadata along with project title so you can quickly narrow down between the number of projects you have which one is configured for what if the title isn't descriptive enough.

Probably a 1.0 thing, if that.

[2018-05-01 21:05] taquitos commented on #699
Ohh whoops, maybe we should change that to be the SHA of the commit that is being built? That way it's obvious that it's a manual build for a given sha. Then we can append the build number to the end, incase there are multiple builds.

[2018-05-02 15:33] taquitos commented on #699
Since we have that data on the page, maybe we should pass it on submission?

[2018-05-02 17:42] minuscorp commented on #699
yeah, we only have the `sha` context if we are triggering from a known build, but if we just push the trigger job now button, we don't have that information until we have cloned the repo itself 🤷‍♂️, renaming the folder doesn't seem to me like a good option TBH

[2018-05-02 17:50] KrauseFx commented on #452
I don't think we have a separate issue to edit the trigger "content", e.g. the time on which to run a nightly build, or the branches to run tests for. Let's keep this open for now then?

[2018-05-02 17:54] taquitos commented on #452
@KrauseFx Oh, good point. Updating the description

[2018-05-02 17:55] KrauseFx commented on #448
Yep, or maybe even post 1.0, we can see at what point users ask for it, especially since developers are usually aware of the CMD + F shortcut 👍

[2018-05-02 22:43] minuscorp commented on #699
I'll change it so we create the folder with the `sha` and additional number `_01, _02, ...` when `sha` is passed through parameters, else we just fallback to `SecureRandom.uuid` as for now 😄

[2018-05-02 22:56] nakhbari commented on #753
@minuscorp Have we enabled the token enforcement yet? I don't see the JwtAuth class being referenced anywhere.

[2018-05-02 22:59] minuscorp commented on #753
Nope, I think at some point we decided to first implement it and later on make use of it, so the login wouldn't block the rest of the tasks opened for the frontend. It is written as a middleware so it is just a one-liner to make use of it if you think that we're prepared to enable it 😄

[2018-05-02 23:01] nakhbari commented on #753
OK, can we make a PR for this so we can test it out. Just realized that https://github.com/fastlane/ci/pull/794 is still waiting for review. Thought it was merged.

[2018-05-02 23:04] minuscorp commented on #753
It can be tested rebasing on `master` so we can merge it? 😄

[2018-05-03 15:42] KrauseFx opened #797 "Storing the platform + lane as part of a project update/edit isn't working"
Using the old "frontend" at least, my `Project` object looks like this
[code]

it should be the opposite. I haven't tried with the new front-end - but we have to test this behavior before we ship the beta, as it's critical to get the lane + platform selection right 👍

[2018-05-03 15:42] taquitos opened #798 "Intermittent connection error causes server to become unstable"
`[2018-05-02 17:10:06] DEBUG GitHubService:  Failed to open TCP connection to api.github.com:443 (getaddrinfo: nodename nor servname provided, or not known)`

`[2018-05-02 17:12:37] ERROR CheckForNewCommitsOnGithubWorker:  [FastlaneCI::CheckForNewCommitsOnGithubWorker Exception], work unit caused exception: Failed to open TCP connection to api.github.com:443 (getaddrinfo: nodename nor servname pro

[2018-05-03 15:47] taquitos opened #799 "Add better logging of `thin`"
Lots of exceptions coming through like this. Let's add better logging so we can debug it and handle them.

[code]

[2018-05-03 16:02] taquitos opened #802 "Wait for worker to finish before starting another worker with the same task"
Each worker should only be running 1 unique task. Example:
project "Taco" polling every 10 seconds. If the first polling failed and is in the middle of exponential backoff, when the next 10 seconds polling comes, we shouldn't just attempt to poll again. We should make sure the first polling operation finished.
You can see this when github api goes down, we get into a situation where we continue to

[2018-05-04 08:56] #570 closed

[2018-05-04 09:03] KrauseFx commented on #798
Should this be part of the Beta or 1.0 milestone?

[2018-05-04 09:03] KrauseFx commented on #799
Should this be part of the Beta or 1.0 milestone?

[2018-05-04 09:04] KrauseFx commented on #802
This is `Beta` milestone, right?

[2018-05-04 09:04] KrauseFx commented on #481
Working on this now 🚀

[2018-05-04 09:35] KrauseFx opened #806 "Have sample values and ideally a short description for each attribute for every class ready"
While working on https://github.com/fastlane/ci/issues/481, I had some difficulties finding sample values of existing classes in our code base, and it took longer to make properly init/use those.

For example, I now updated `GitHubOpenPR` from
[code]
to
[code]

[2018-05-04 12:33] KrauseFx commented on #481
Built with https://github.com/fastlane/ci/pull/809

[2018-05-04 20:50] nakhbari commented on #753
Good news i checked out the login with JWT and all things look great. We should be able to now enforce it on the `/data` JSON controllers.

@minuscorp is this something you want to take on?

Gonna update the issue description

[2018-05-04 20:57] minuscorp commented on #753
I'll get this for next week! Give it to me😁

[2018-05-04 23:02] nakhbari commented on #481
I think `master` vs a sha is more comprehensible. Do you think we might want to do a combination since there can be different points in master? Something like `master@032cbjl`. Or a new column in the table?

[2018-05-04 23:10] nakhbari commented on #785
@KrauseFx @taquitos Do you think we should add the splitting of the commit and PR trigger to the requirements for Beta. That seems pretty important to me.

[2018-05-04 23:12] taquitos commented on #481
@nakhbari I think that's a great idea. I often search by SHA to know which build I need to kick off (in case of a specific failed build)

[2018-05-04 23:14] taquitos commented on #785
@nakhbari is there an issue you can point to around this? I'm not sure I understand what you mean

[2018-05-04 23:20] nakhbari opened #814 "Split the functionality of commit trigger to commit and PR triggers"
We should split out the functionality what we have defined as a commit trigger today into 2 separate triggers. 1 for commits on a specific branch and another for all PRs.

Use Cases:
1) when a commit is tested in a PR, it is not at the same HEAD as master per say. So there might be some logic that is incompatible once merged, but passes in the feature branch.
2) I imagine it would be nice to have

[2018-05-04 23:27] taquitos commented on #814
AHhhhhhhh I get it now. I was being dense. Yeah. We should do that.

1. The commit trigger should only care about the commit on whatever branch is specified pointed at.
2. The PR trigger should apply to all branches (which seems to be normal behavior for CI systems).
3. A lot of our infrastructure will need to be renamed (and reworked a little), examples: `TRIGGER_TYPE` needs to be updated to incl

[2018-05-04 23:31] nakhbari commented on #814
@taquitos Were you thinking beta or v1? I'm thinking beta but it's a lot of work.

[2018-05-04 23:32] taquitos commented on #814
I'm leaning towards V1 since the most common use case is PR checking, and it's a reasonably large chunk of work with significant potential to break something.

[2018-05-05 13:57] KrauseFx commented on #814
It's your call @nakhbari @taquitos - I assigned 1.0 for now to make sure it's not unassigned (unassigned might get lost), and feel free to update it to whatever milestone you think makes sense 👍

[2018-05-05 14:28] KrauseFx commented on #481
yeah that's a great idea, I'll go ahead and create a new issue for this

[2018-05-05 14:29] KrauseFx commented on #481
I personally never went to a CI system, selected a project, and then searched for a sha, as I always land on the CI system by clicking the `Details` button on GitHub instead 👍

[2018-05-05 14:30] KrauseFx opened #815 "Print combination of branch + sha"
Via https://github.com/fastlane/ci/issues/481#issuecomment-386756029

This is probably a front-end task

[2018-05-05 14:30] KrauseFx commented on #481
@nakhbari here we go https://github.com/fastlane/ci/issues/815

[2018-05-07 11:01] KrauseFx opened #817 "Creating a new user is broken right now"
[code]
on URL `http://localhost:9292/login_erb/create_account`

Steps to reproduce:
- Create a new account when not logged in

[2018-05-07 14:03] KrauseFx opened #820 "Define version numbers for each dependency in our Gemfile"
The goal is to define each dependency like this:
[code]

Do not use `~` and of course don't define any version at all. The reason why we don't want to use `~>` is that it doesn't work nicely with new feature releases, usually we're fine with new feature releases (minor), but not with breaking releases (major), so by specifying the `>=` in combination with `<` we can accomplish exactly that 👍

[2018-05-07 17:14] nakhbari commented on #814
My worry about pushing it to v1 is that those who use beta and upgrade to v1 will have their projects be triggered differently from before.

Ex. User chose commit trigger, builds trigger on commit + PR, User upgrades, User's project only builds on commits now since PR is a different trigger.

If y'all think this isn't a big deal or that it would be easy to be backwards compatible then I have no qu

[2018-05-07 17:35] KrauseFx commented on #814
Sounds good, let's move it to Beta then, and we can always move it back to 1.0 if we decide it's not as important

[2018-05-07 18:27] AndrewMcBurney opened #822 "Change JSON deserialization to allow required parameters in model object constructors for models with the `JSONConvertible` mixin."
I came across this issue when tackling #817.

[This line](https://github.com/fastlane/ci/blob/master/app/shared/json_convertible.rb#L73) in `from_json!` in the `JSONConvertible` module creates a new object instance, with no parameters.

Hence, we can not have required parameters in our model constructors. Right now, we have [a bunch of optional parameters](https://github.com/fastlane/ci/blob/maste

[2018-05-07 21:13] minuscorp commented on #822
This is actually a tricky one, specially with the `attr_*` attribute family. I will dig into this and open a PR soon 😄

[2018-05-07 21:35] taquitos commented on #802
More crashes today:
[code]

[2018-05-07 21:52] minuscorp commented on #822
Just a quick mock-up of what I was thinking on: https://repl.it/@minuscorp/ComplexMaleCircle

[2018-05-07 22:15] taquitos opened #824 "nil shows up in build list"
[code]

[2018-05-07 23:07] taquitos opened #826 "Crash due to interesting input in `new_row` for `build_websocket_backend`"
Looks like we need to escape something so it's not turned into a method call. cc @KrauseFx
[code]

[2018-05-07 23:17] AndrewMcBurney commented on #826
Running rubocop tests for this branch caused the failure: [`AndrewMcBurney:fixed_broken_create_user`](https://github.com/AndrewMcBurney/ci/tree/fixed_broken_create_user).

[2018-05-07 23:18] taquitos commented on #826
Can confirm, this is reproducible 💯% of the time 🎉

[2018-05-07 23:40] AndrewMcBurney commented on #822
Yeah, that looks great @minuscorp!! 🙌

[2018-05-08 08:25] KrauseFx opened #828 "Manage Xcode installations UX/frontend work"
- Prototype with https://github.com/fastlane/ci/pull/819
- Full user story https://github.com/fastlane/ci/blob/master/docs/use_cases/update_xcode_installation.md

This will need to be implemented in the Angular based front-end, for now it's implemented in the `erb` frontend 👍

[2018-05-08 09:38] KrauseFx commented on #824
Sounds good, closing and moving to https://github.com/fastlane/ci/pull/825

[2018-05-08 09:38] #824 closed

[2018-05-08 09:41] KrauseFx commented on #822
Yes, I noticed that also, and made all parameters for the initializer optional as a result... Sounds like an area for improvement 👍

[2018-05-08 11:11] chaim1986 opened #830 "Can not run in docker"
mac-pro:ci chaim$ docker  version
Client:
 Version:      18.03.1-ce
 API version:  1.37
 Go version:   go1.9.5
 Git commit:   9ee9f40
 Built:        Thu Apr 26 07:13:02 2018
 OS/Arch:      darwin/amd64
 Experimental: false
 Orchestrator: swarm

Server:
 Engine:
  Version:      18.03.1-ce
  API version:  1.37 (minimum version 1.12)
  Go version:   go1.9.5
  Git commit:   9ee9f40
  Built:        Thu

[2018-05-08 11:16] KrauseFx commented on #830
Thanks for reporting this, I guess that's because we haven't yet updated the docker container to automatically build the angular based frontend. Docker support was initially added by @adellibovi with https://github.com/fastlane/ci/pull/619, we haven't worked on it since then.

May I ask why you want to run a Docker container, considering that you'll need a macOS host anyway to be able to compile a

[2018-05-08 11:58] adellibovi commented on #830
@KrauseFx I will have a look at this, it’s definitely because we didn’t update for angular.

[2018-05-08 15:10] #699 closed

[2018-05-08 18:15] minuscorp commented on #822
Moved the discussion to #833

[2018-05-09 05:54] chaim1986 commented on #830
@KrauseFx  I just have a try use the ci with docker on the mac os .. anyway fastlane work with docker  is a cool idea.. :)

[2018-05-09 13:50] minuscorp commented on #798
Gonna add [Faraday Retry](https://github.com/lostisland/faraday/blob/master/lib/faraday/request/retry.rb) middleware to `Octokit` stack to prevent this kind of issues in a PR soon (this evening)

[2018-05-09 14:14] snatchev commented on #820
In the example above, I believe the same can be accomplished with:
[code]

As far as I understand, leaving off the patch bit, you will get any gem version from 1.7.x up to, but not including 2.x.x.

I do agree with the philosophy of including feature versions in the lockfile. It would be neat to have a cop to enforce this :)

[2018-05-09 14:31] KrauseFx commented on #820
Yes, you're right, this works, however it comes with one problem: e.g. we tested with `1.7.2` that includes a critical bugfix, there is no way to specify with `~`, to have `1.7.2` and up, but below `2.0`

[2018-05-09 14:34] snatchev commented on #820
Ah, yes! Perfect.

On Wed, May 9, 2018 at 10:31 AM Felix Krause <notifications@github.com>
wrote:

[2018-05-09 16:32] taquitos commented on #798
I don't know if adding `Faraday Retry` is the right solution. This is likely caused by a GitHub outage, or maybe CDN rate limiting.

To really fix this issue we need to fix our workers so that they can handle more problems with networking in a graceful way.
- potentially recognizing problems that can't be fixed by retry, and deferring work
- heuristics for intelligently scheduling work in the futu

[2018-05-09 17:09] taquitos commented on #798
Yeah, I'd feel a lot better if we could unify it all into a more robust handler that is centralized in 1 single location.
That way we control all the retry logic, and it's easy to understand it because you don't have to go looking for it.

[2018-05-09 22:44] minuscorp commented on #826
Can someone tell me how to reproduce this? Any build with the branch @AndrewMcBurney referenced will throw the error?

[2018-05-10 15:54] taquitos commented on #826
That's right, if you do a build with that branch @AndrewMcBurney referenced, it should 💥 the server. Specifically, it looked like the `rubocop` build broke on the ci server.

[2018-05-10 23:34] #830 closed

[2018-05-11 02:11] taquitos commented on #798
Some mitigation is in place, but when the retries fail, this will still fail.

[2018-05-11 13:04] minuscorp commented on #798
Yep, auto-closed by Github 😅

[2018-05-11 13:14] minuscorp commented on #826
I'll take a deeper look into this, will make sure that the argument passed to the block should always be a `string`. Thank you!

[2018-05-11 13:35] AndrewMcBurney commented on #826
Yeah, sorry for the delay @minuscorp! Triggering a `rubocop` build on the branch caused the server to 💥

[2018-05-11 17:30] AndrewMcBurney opened #841 "Remove `return true` from `JSONUserDataSource` `update` and `delete` methods."
As per [this comment](https://github.com/fastlane/ci/pull/840#discussion_r187680366), we want to remove instances where we return `true` in our CRUD actions for data source services.

[2018-05-12 00:09] nakhbari commented on #463
Is this still targeted for Beta?

[2018-05-12 00:11] nakhbari commented on #575
@KrauseFx Is this still targeted for Beta?

[2018-05-12 00:13] nakhbari commented on #475
Moved to V1, let me know if you feel like we should do it for Beta

[2018-05-12 06:44] KrauseFx commented on #828
Ahh, nice catch, I didn't notice that. So I think in this case, we do want to beta test the Xcode installation management, as it's one of the main features we offer compared to our competitors. So I'd propose this task should also be in the Beta milestone, is that okay with you also?

[2018-05-12 06:53] KrauseFx commented on #764
Unassigning me, as I think @snatchev had some opinions on this task?

[2018-05-12 07:28] KrauseFx commented on #575
It's probably just a 15 minutes task, so I'd be in favor to keep it in beta for now 👍

[2018-05-12 07:30] KrauseFx commented on #463
I think we at least have to look into this, as this would be a blocker for onboarding for a majority of our users, many GitHub users may have a paid org, but not a paid personal account

[2018-05-12 14:59] thii opened #847 "Crash due to git trying to sync changes of ci-config repo even there is nothing to commit"
[code]

[2018-05-12 17:10] minuscorp commented on #826
Checking out your branch raises at launch:
[code]
Some quick workaround to fix this and get into the issue or is [this crash](https://github.com/fastlane/ci/issues/826#issue-320988628) reproducible on `master`?

[2018-05-14 06:43] dhandapani-d commented on #463
We are trying fastlane ci Alpha and blocked because of this issue. Is there any workaround to try fastlane ci without githup private repo?

Just curious to know, Why there is such restriction? User should be able to use any repository, / even bitbucket or something else right. Any reason behind this?

[2018-05-14 07:46] KrauseFx commented on #463
We make heavy use of the GitHub API, so it is specific to GitHub. In theory the repo might be public, however it does add a potential security risk.

Would a public GitHub repo work for you also? Or do you need to use BitBucket?

[2018-05-14 08:32] thii commented on #847
It didn't reproduce for me anymore after commented out the `repo.commit("Sync changes")` line, ran it and put it back. I'll take a look again later.

[2018-05-14 08:48] KrauseFx opened #851 "[Discussion] Storing Apple ID credentials"
As part of the Xcode installation (https://github.com/fastlane/ci/pull/819) and to provide Apple ID credentials for managing certificates and uploading metadata and builds, we need to let the user login with their Apple ID somewhere.

We have a few possible approaches to build this:

### 1) Store the Apple ID credentials in the system's keychain

This is the _fastlane_ default, and we already have

[2018-05-14 09:53] KrauseFx commented on #851
Went ahead and worked on https://github.com/fastlane/ci/pull/854

[2018-05-14 11:48] dhandapani-d commented on #463
Public GitHub repo would work for me.

Is it like to focus on MVP there is a tight integration with GitHub API? But in long-term fastlane-ci should be independent of any repository / version control system other than right. Is that correct?

[2018-05-14 13:06] dhandapani-d commented on #463
Saw your related comments in #604 . Makes sense. Looking forward to for the next release with GitHub public support. Thanks for such great project.

[2018-05-14 14:33] taquitos commented on #826
Got another crash, might not have the `dotenv` version conflict that you see above ^ :

[code]

[2018-05-14 15:48] minuscorp commented on #826
That's on `master`?

[2018-05-14 15:48] #822 closed

[2018-05-14 15:50] AndrewMcBurney commented on #826
Hey @minuscorp, sorry for the delay. If you update dotenv, it should be fine - I just haven't on that branch 😳. The problem was seen creating a pull request using the branch [`AndrewMcBurney:fixed_broken_create_user`](https://github.com/AndrewMcBurney/ci/tree/fixed_broken_create_user), and running the rubocop test for that branch with the `master` (on http://mydoghatestechnology.com/).

[2018-05-14 23:16] nakhbari opened #860 "Local Artifact Provider errors out when server starting"
I cannot start the CI server due to the json conversion of the local artifact provider failing.

[code]

[2018-05-14 23:18] nakhbari commented on #860
My CI config https://github.com/nakhbari/HelloWorldCiConfig

[2018-05-14 23:27] nakhbari commented on #860
Did a regression test. Found that the issue lies at this commit https://github.com/fastlane/ci/commit/12fac6de24eeb59fdd0082d916775970ed73b465

[2018-05-14 23:37] nakhbari opened #861 "Thread terminated with exception: undefined method `sha' for nil:NilClass"
Getting the following error when starting up the server, help appreciated. Can get past this for now using `FASTLANE_CI_SKIP_RESTARTING_PENDING_WORK`

[code]

[2018-05-14 23:47] minuscorp commented on #860
I will take a closer look into this, why that specific class is failing and tests are not

[2018-05-15 08:48] #851 closed

[2018-05-15 09:17] KrauseFx commented on #851
Done 🎉

[2018-05-15 09:57] KrauseFx commented on #861
This was introduced intentionally with https://github.com/fastlane/ci/pull/809 and further discussed in https://github.com/fastlane/ci/pull/825. For now we decided to not be backwards compatible with pre-beta versions, so please just clear your historic builds and launch the server again 👍

[2018-05-15 10:03] KrauseFx opened #870 "[Proposal] System to allow system-wide preferences"
Without having a clear specification of this feature yet, I want to get the discussion started.

It seems like we'll have some system settings that are system wide, but don't deserve their own configuration file. Some examples I can think of:

- Default Xcode version
- Default Apple ID to use (e.g. for installing Xcode)
- Boolean options like:
  - Automatically install new versions of Xcode
  - Au

[2018-05-15 10:26] KrauseFx commented on #639
For now we don't support 2FA at all I think, but this is okay, we just need to document this somewhere and explain something similar to what we do with _fastlane_ already https://docs.fastlane.tools/best-practices/continuous-integration/#separate-apple-id-for-ci

[2018-05-15 20:38] nakhbari opened #874 "Should use bot credentials for repo endpoints"
As @KrauseFx commented here: https://github.com/fastlane/ci/pull/862#discussion_r188188568

We're using the user credentials to list repos and to get the lanes from the Fastfile. I think we should be using the bot's credentials to show only repos that we can really clone and perform actions on.

[2018-05-15 21:41] nakhbari opened #875 "No `git_fork_config` when re-running pending builds"
[code]

[2018-05-15 21:41] taquitos commented on #874
The CI bot account will have more read access than any single user. The reason being- CI needs to have read access to every project in order to build them. So, if the CI account has access to a project that a user does not, we need to make sure the user doesn't see it and cannot clone/configure anything with it (relying on GitHub's permission model here). The easiest way to do that is to only use

[2018-05-15 23:28] nakhbari commented on #874
Ahhh i see this makes sense. So really we should have a check when you create a project that the bot has access to the selected repo.

[2018-05-16 08:17] KrauseFx commented on #860
This is resolved now with the revert of the change 👍

[2018-05-16 08:18] KrauseFx commented on #875
I can fix this 👍 Thanks

[2018-05-16 13:43] KrauseFx commented on #861
Is it cool to close this as there is no action required?

[2018-05-16 14:01] minuscorp commented on #753
#872

[2018-05-16 15:17] taquitos commented on #874
Yeah, great point. That's something we should totally do 💯

[2018-05-16 16:49] taquitos commented on #847
I think we're getting the same thing here:
It might be that there's a race condition to create one or more `build_number.json` files, add them via `git add .` and push
So what might be happening is:
build 1.json created **(task 1)**
build 2.json created **(task 2)**
git add . (intended for 1.json) **(task 1)**
git push **(task 1)**
git add . (intended for 2.json) **(task 2)**
git push 💥 because it

[2018-05-16 17:05] nakhbari opened #881 "Verify bot has access to user repo on project creation"
From: #874

We're using the user credentials to list repos and to get the lanes from the Fastfile. We should validate that the bot account has access to the selected repo.

[2018-05-16 17:09] nakhbari commented on #861
Yes! i thought it was already closed. My B

[2018-05-16 17:09] #861 closed

[2018-05-16 21:42] minuscorp commented on #753
This is ready to be closed 😄 https://github.com/fastlane/ci/pull/872

[2018-05-16 23:12] nakhbari commented on #685
@chemichelle created a mock. Let's close this up
![image](https://user-images.githubusercontent.com/2754461/40148645-ee6f785e-5923-11e8-91d8-cfcc3a290258.png)

[2018-05-16 23:12] #685 closed

[2018-05-17 08:20] KrauseFx opened #886 "Fix xcode-install tests"
Via @taquitos via https://github.com/fastlane/ci/pull/878

I'm gonna fix this

[2018-05-17 17:11] #786 closed

[2018-05-17 17:12] #719 closed

[2018-05-17 18:13] snatchev opened #890 "Stream process logs from Agent to front-end via WebSocket"
Building on top of #836, #884, we want to logs from the Agent to be sent to the front-end via WebSockets.

[2018-05-18 18:19] nakhbari opened #892 "Adding new project leads to git error"
[code]

[2018-05-18 18:32] taquitos commented on #892
Looks like https://github.com/fastlane/ci/issues/727#issuecomment-383639058
and https://github.com/fastlane/ci/issues/677#issuecomment-382552168

Potentially having more output + repro steps might help in figuring out where the problem is coming from along with what the current state of you config repo looks like, as in `git status`

[2018-05-18 18:35] nakhbari commented on #892
@snatchev and I are pairing on this right now.

[2018-05-20 08:24] aamct2 opened #899 "Add GitHub Checks Support"
GitHub has added major improvements for viewing CI results thanks to the new Checks API. It would be great to support this.

Reference links:
- https://blog.github.com/2018-05-07-introducing-checks-api/
- https://developer.github.com/changes/2018-05-07-new-checks-api-public-beta/
- https://developer.github.com/v3/checks/

[2018-05-21 10:49] minuscorp commented on #681
I have opened #900 to track this issue

[2018-05-21 14:47] KrauseFx opened #901 "Prepare public live demo with read-only guest access"
For the [1.0 launch](https://github.com/fastlane/ci/milestone/15) we probably want to make it super easy for potential fastlane.ci users to get a feel of what fastlane.ci can do for them, how it looks and feels and what kind of features it supports.

One easy way to accomplish that would be to provide a read-only dashboard (login as guest) for fastlane.ci, with `fastlane/ci` and `fastlane/fastlane

[2018-05-21 16:44] KrauseFx commented on #899
I'd love to add this to fastlane.ci, however from what I understand

And fastlane.ci can't be a GitHub App, as it's completely self-hosted without a central instance 😢

[2018-05-21 16:45] KrauseFx commented on #899
If it's cool, I'll close this issue for now, as there is nothing we can do. As soon as the API is publicly available, let's re-open 👍

[2018-05-21 17:00] KrauseFx commented on #786
Yesss 🎉

[2018-05-21 17:14] KrauseFx opened #902 "[Xcode] Authorize Xcode installation"
Follow-up to Xcode PR https://github.com/fastlane/ci/pull/819

Implement asking for the root password as part of the installation (via KrauseFx/xcode-install#279)

[2018-05-21 17:17] KrauseFx opened #903 "[Xcode] Automatically test new Xcode releases"
Once a new Xcode version was released, install it automatically, create a new branch for every PR-trigger-based project and test if the tests are still green.

[2018-05-21 17:19] KrauseFx opened #904 "[Xcode] Caching of available Xcode versions"
Follow-up to Xcode PR https://github.com/fastlane/ci/pull/819

Decide if and how we're gonna use `@_installer.rm_list_cache`

This is probably related to https://github.com/fastlane/ci/issues/903 👍

[2018-05-21 17:21] KrauseFx commented on #875
Working on this now

[2018-05-22 05:13] aamct2 commented on #899
@KrauseFx I've done a fair bit of reading of the GitHub App docs. Unless I've missed something, it should work for Fastlane CI, even self-hosted.

I don't think Fastlane CI could set up in the Marketplace without a centrally managed instance. But that shouldn't prevent it from becoming a GitHub App and supporting the Checks API.

[2018-05-22 16:12] KrauseFx commented on #899
Mh, interesting - I think we investigated the use of GitHub apps when we first started working on the authentication bit of fastlane.ci, and learned that it's not possible to make use of those features without having a centralized instance in the middle somewhere. Maybe @taquitos remembers more on why that was?

[2018-05-22 16:29] #886 closed

[2018-05-22 16:31] KrauseFx commented on #902
@snatchev mentioned that this might be solved depending on how we're gonna split up the workers. Any news on that?

[2018-05-22 16:32] #820 closed

[2018-05-22 16:33] KrauseFx commented on #820
This is resolved now 🥇

[2018-05-22 17:21] KrauseFx commented on #445
This is implemented now, a few pieces are missing, in particular asking the user if they want to enable auto-update. Also we have to store the user's selection, so we'd need https://github.com/fastlane/ci/issues/870 as well

[2018-05-22 18:25] snatchev commented on #870
What is the intended interface for a user of fastlane.ci to change their server settings? Via web UI or text editing? Would the server generate a file when it's install/boots?

[2018-05-22 18:31] snatchev commented on #870
Overall, my first inclination would be to use YAML for a comment-able, human readable, key-value text format. That being said, I think a mix of formats is not great either. This might be negligible if the interface is a web UI, and JSON is just used for saving/exporting values.

[2018-05-22 19:47] KrauseFx commented on #870
Yeah, so that's the beauty of text-based configuration files: we can offer a UI for some of the options (e.g. Analytics opt-out), and have "secret" options that are less popular be via text file modification until we have a proper UI for them (if ever).

Yes, I'd think fastlane.ci creates the file when it sets up the repo (as it also creates the other config files).

Yah we should stick with consi

[2018-05-22 19:52] KrauseFx commented on #758
Alright, so we do have tests covering this exact scenario:

https://github.com/fastlane/TaskQueue/blob/master/specs/work_queue_spec.rb#L47-L68

[2018-05-22 19:53] #758 closed

[2018-05-22 20:41] snatchev opened #914 "[Proposal] How should artifact storage be configured?"
fastlane.ci needs to persist artifacts from a build. Artifacts can include any output such .ipa files, logs and screenshots. Given that our new fastlane workers (a.k.a Agents) are designed to be lightweight and ephemeral, we need a way to send the outputs of a build somewhere for storage which can be anything from AWS, SFTP or a network file mount.

I propose that this feature should be provided b

[2018-05-22 20:46] minuscorp commented on #914
Actually, this is more or less how `ArtifactProvider` works now, it stores the artifact in a manner depending of which provider it is and retrieve the Artifact in some URL kind form. They're also attached to the build both the provider and the different artifacts. I don't know if I can provide some more info about how it is designed now (as I was who coded it).

[2018-05-23 00:16] nakhbari opened #915 "Create Toolbar component"
Parent: #709 #682

Toolbar component should be on the Project/Build page

#### Tasks
- [ ] Add Breadcrumbs
- [ ] Add transcludable area for settings
- [ ] Add transcludable area for actions
- [ ] fastlane logo icon
- [ ] Styling

#### Mock
![image](https://user-images.githubusercontent.com/2754461/40396811-de881ed6-5de3-11e8-93da-b35f01c5244c.png)

[2018-05-23 17:05] nakhbari opened #917 "Build Details Endpoint"
Parent: #709

Requirements:
- Status
- Trigger
- Branch
- Sha
- Start Time
- Duration time
- Build Tools
- Environment variables?

[2018-05-23 17:07] nakhbari opened #918 "Build Artifacts Endpoint"
Parent: #709

Requirements:
- Artifacts
  - Name
  - Link to download

[2018-05-23 17:20] #915 closed

[2018-05-23 17:52] KrauseFx commented on #917
Cool, taking on this task now 👍

[2018-05-24 09:22] LivioGama opened #924 "frontend MIME checking strict error"
Hello, on the latest version I get a white page after following instructions of installations without docker. The console shows :
[code]

[2018-05-24 14:10] KrauseFx commented on #924
Hey @LivioGama, thanks for helping out with fastlane.ci. Can you tell us a bit more of how you installed & set up fastlane.ci? That error is in your web browser, right? Is there anything in your server logs?

[2018-05-24 14:17] LivioGama commented on #924
I installed rvm. I installed Ruby 2.3.3 though RVM.
git clone https://github.com/fastlane/ci
cd ci
npm install
npm run-script build
gem install bundler
bundle install
bundle exec rake prod

![screen shot 2018-05-24 at 16 16 03](https://user-images.githubusercontent.com/6930498/40491277-e7cd6d6c-5f6d-11e8-8b43-05331d6a6d12.png)

[2018-05-24 14:21] KrauseFx commented on #924
Interesting - I don't know enough about this part of fastlane.ci, does this happen when you use `127.0.0.1` instead? Does this happen on a different browser also?

[2018-05-24 14:32] #917 closed

[2018-05-24 15:35] KrauseFx commented on #924
Thanks for reporting this and sorry you're running into this problem, we'll get back to you later this week or next week 👍

[2018-05-24 15:38] KrauseFx commented on #924
Did you ever run `ng build --deploy-url="/.dist" --dev -w`? If not, can you give this a try?

If that also doesn't work, you can run fastlane.ci after setting an ENV variable
[code]

[2018-05-24 16:52] firatakandere opened #928 "Missing file: json_authenticated_controller_base"
[code]

[2018-05-24 18:34] nakhbari commented on #924
@LivioGama Our `npm run-script build` is not correct right now since it's missing the ` --deploy-url="/.dist"` flag. This is most likely the issue. Let me whip up a PR. In the meantime doing what @KrauseFx suggested should get you going 🚀

`ng build --deploy-url="/.dist" --prod`

[2018-05-24 20:56] #928 closed

[2018-05-24 22:31] #924 closed

[2018-05-25 13:42] snatchev commented on #914
@minuscorp I assumed we'd be using the `ArtifactProvider` in this use case :). The gist of the proposal is that the actual business logic of moving the bytes to their destinations should live inside fastlane itself (possibly as a fastlane plugin) and not within the ci system.

[2018-05-25 13:44] snatchev commented on #902
@KrauseFx lets tackle this problem when we're both in NYC.

[2018-05-25 13:56] snatchev commented on #902
linking to: https://github.com/fastlane/ci/blob/master/docs/WorkerAgent.md#permission-model for reference / possible proposal.

[2018-05-25 14:03] minuscorp commented on #914
I kind of feel that this logic should live in the CI's part, as I understand an `Artifact` as an inherent concept of a Continuous Integration system. But this is just a point of view 😅

[2018-05-25 14:09] snatchev commented on #914
That's a good point. If we consider fastlane as a build system with build tasks and one of those build tasks is to upload a file somewhere. Suppose the upload fails for a network reason, now that "build" failed as part of the build system, but really the build succeeded and it could be considered the CI system's responsibility to move the artifact to the right place.

[2018-05-25 15:55] minuscorp commented on #914
As I understand it, _fastlane_ is the responsible of creating the different `Artifact`s as it's been in the past. But the responsibility of gathering them and later on store them in whichever service it's CI's responsibility.

[2018-05-25 16:09] KrauseFx commented on #914
Sounds like we're all on the same page: fastlane is responsible for uploading the artifacts, and then providing some kind of reference (ID, URL, etc.) back to fastlane.ci for each of the artifacts

[2018-05-25 16:22] KrauseFx commented on #928
Thanks for reporting this @firatakandere, we just merged a fix into master, can you give it another try?

[2018-05-25 16:22] KrauseFx commented on #902
Yeah great idea, let's do it 👍

[2018-05-25 17:36] minuscorp commented on #914
I was kind of thinking of _fastlane_ just as a creator of _paths_ and the CI through the `ArtifactProvider` a creator of  `Artifact`s with its references.

[2018-05-25 17:59] KrauseFx opened #934 "Accessing /login in a logged in state should redirect to the dashboard"
Steps to reproduce

1. Login
2. Access `http://localhost:9292/login`

Expected result: Redirect to dashboard
Actual result: Login is shown

[2018-05-26 15:07] KrauseFx commented on #451
Assigning us both, I'll cover the API as discussed in https://github.com/fastlane/ci/pull/938

[2018-05-28 03:45] JayantVarma opened #940 "How to change port 8080 to another one?"
How can I change the port from 8080 to anything else, there are other services that could be running and using 8080

[2018-05-28 03:46] KrauseFx commented on #940
Hey @JayantVarma, you can run
[code]
Let me know if that works 👍

[2018-05-28 04:43] JayantVarma commented on #940
It's downloading the dependencies, I was running it in Docker, will update the outcome as soon as it is done

[2018-05-28 04:51] JayantVarma commented on #940
on the MAC, I get
`warning: 2.3.5-compliant syntax, but you are running 2.3.4.`
and when I run rvm list I do not see 2.3.5 but do see 2.4.1

[code]

so it does not run locally on the mac

[2018-05-28 15:17] KrauseFx commented on #940
It's a warning, I think it should still work just fine. Why do you run it on Docker? You won't be able to compile iOS apps then

[2018-05-28 21:51] JayantVarma commented on #940
OK, but it would be nice to separate the processes. It further breaks with
`ci/launch.rb:55:in `verify_app_built': The web app not built. Build with the Angular CLI and Try Again, e.g. ng build --deploy-url="/.dist" (RuntimeError)`

[2018-05-29 05:47] taquitos opened #941 "Can't startup: FastlaneBuildRunner undefined method `user' for nil:NilClass"
[code]

[2018-05-29 05:48] taquitos commented on #941
This must be due to a env var or something, still catching up from vacation 🏖

[2018-05-30 13:50] baturorkun opened #945 "bundle exec rake prod error"
c2mmini$ sudo bundle exec rake prod
bundle exec rackup --host 0.0.0.0 --port 8080 --env production
warning: parser/current is loading parser/ruby23, which recognizes
warning: 2.3.5-compliant syntax, but you are running 2.3.3.
warning: please see https://github.com/whitequark/parser#compatibility-with-ruby-mri.
bundler: failed to load command: rackup (/usr/local/bin/rackup)
RuntimeError: The web ap

[2018-05-30 14:38] LivioGama commented on #924
Thanks, it works ! Just a question, what are the login and password I'm asked to fill ? I didn't create any user and I get this :
![capture d ecran 2018-05-30 a 16 38 08](https://user-images.githubusercontent.com/6930498/40727277-da802fa0-6427-11e8-8844-5648f00bc63a.png)

[2018-05-30 14:54] kevinsamoei commented on #934
How can one reproduce this, I don't think there is a way to register as a new user via the UI or is there an email and password that can be used for testing?

[2018-05-30 15:58] KrauseFx commented on #934
Hey @kevinsamoei, see our comments on https://github.com/fastlane/ci/issues/924#issuecomment-393209605, right now the onboarding isn't implemented on the new frontend yet :)

[2018-05-30 15:58] KrauseFx commented on #945
[code]
Does that help?

[2018-05-31 07:00] baturorkun commented on #945
ok thanks but

ng build --deploy-url="/.dist"  result:

Local workspace file ('angular.json') could not be found.
Error: Local workspace file ('angular.json') could not be found.
    at WorkspaceLoader._getProjectWorkspaceFilePath (/usr/local/lib/node_modules/@angular/cli/models/workspace-loader.js:37:19)
    at WorkspaceLoader.loadWorkspace (/usr/local/lib/node_modules/@angular/cli/models/workspa

[2018-05-31 15:04] taquitos opened #948 "ci fails to recover after internet outage"
[code]

[2018-05-31 15:48] taquitos commented on #941
Yup, old bug, missing env var. Will be fixed in #870

[2018-05-31 15:48] #941 closed

[2018-05-31 17:13] nakhbari opened #950 "Cleanup build data after a certain limit"
To save disk space we should cleanup the repo clone used to run the build. @taquitos suggested a default limit of 20 builds to be kept in the history, any older build would be cleaned up in a separate thread/task since it could take time.

[2018-05-31 17:15] nakhbari commented on #950
Maybe this could be apart of the new hotness `settings.json` file

[2018-05-31 22:45] taquitos opened #953 "PRs from forks that have already been built are being rebuilt"
Example: https://github.com/fastlane/ci/pull/717

When I restart the CI, it goes and rebuilds PRs that have already passed.

You can see this with `add-new-gem-test`, that's coming from a fork:
<img width="850" alt="screen shot 2018-05-31 at 3 44 07 pm" src="https://user-images.githubusercontent.com/1304821/40812220-7c592bbc-64e9-11e8-8192-0cd11b28702d.png">

[2018-06-01 15:15] KrauseFx commented on #826
Alright, so @snatchev and me just found out where the original error comes from

[code]

So the line
[code]
will call the `#send` method of the `WebSocket` object `ws`. However, if `ws` is nil `#send` suddenly is the built-in Ruby method `#send`, which is used to send method calls, so we try to call a method of a given JSON string (which of course doesn't work)

Anyway, we'll work on a fix for tha

[2018-06-01 15:15] KrauseFx commented on #700
Duplicate of https://github.com/fastlane/ci/issues/826, right?

[2018-06-01 15:26] KrauseFx opened #954 "Seems like we need to flush the output on some part of the stack"
This is either needed for worker to fastlane.ci or fastlane.ci to web browser. Right now it seems to only flush every 10 seconds or so

[2018-06-01 15:28] KrauseFx opened #955 "Additional new lines at the end"
With the new distributed build (https://github.com/fastlane/ci/pull/951) we have about 10 new lines at the end of the output it seems

[2018-06-01 15:30] KrauseFx opened #956 "Consistent naming for worker / fastlane.ci"
e.g. in `WorkerAgent.md` design doc

[2018-06-01 15:37] KrauseFx opened #958 "A worker needs a way to tell master that they can't handle a given job"
- as described with https://github.com/fastlane/ci/pull/957
- created via https://github.com/fastlane/ci/pull/951

[2018-06-01 15:40] KrauseFx opened #959 "Enable certificates for HTTPs encryption for distributed builds"
This will probably require us to issue certificates to each Worker

Spawned via https://github.com/fastlane/ci/pull/951

This is a requirement for 1.0, as environment variables contain sensitive information, like the Apple ID credentials

[2018-06-01 17:14] #847 closed

[2018-06-01 21:21] #826 closed

[2018-06-02 00:37] taquitos opened #964 "Ability to pause all work temporarily, and automatically"
If something happens where everything is failing but these failures are more indicative of networking issues, we should automatically pause all operations, and test for access to GitHub instead of attempting to continue forever, or failing and never recovering.
Failures are either:
**Impossible to recover from**
So we should crash, or require human intervention

**Possible to recover from**
Automa

[2018-06-02 00:39] taquitos commented on #964
This will require some specifications, but currently I have an idea around everything that can fail should raise a `StandardError` subclass, then we should have a unified way of collecting and handling these errors in a smart way.

[2018-06-02 01:07] taquitos commented on #948
Blocked by #964

[2018-06-04 14:46] KrauseFx opened #966 "Use our Git Helper as part of the worker"
Follow-up to https://github.com/fastlane/ci/pull/951

Right now, fastlane.ci will only work for open source projects, or if the user is logged in on the system-level on a given machine.

We'll need to rip out the `GitHelper` class to be able to use it on fastlane.ci as well as the worker

[2018-06-04 14:47] KrauseFx opened #967 "Discovery or management of worker nodes inside the network"
As part of distributed fastlane.ci we need to somehow specify/find workers in your network.

As a first step, we can allow the user to enter a list of IP addresses to reach as potential workers.

Long term, @taquitos was talking about using Bonjour or similar to automatically find fastlane.ci workers that are available in the same network.

Follow up to https://github.com/fastlane/ci/pull/951

[2018-06-06 07:10] vjanssens commented on #945
Had the same problem. Running `npm i` before `ng build [..]` fixed it.

[2018-06-07 18:09] #802 closed

[2018-06-07 18:17] taquitos opened #971 "Setup PR bot for `needs attention` on PRs that are older than 1 week"
Like in the fastlane repo, we should have a PR bot that flags PRs that are older than 1 week with the `needs attention` label

[2018-06-08 17:47] taquitos opened #974 "Server crashing occasionally due to no changes in sync commit"
The server occasionally crashes due to:
[code]

There's a bug here, but at the very least we should explicitly handle this exception.

[2018-06-08 18:59] taquitos commented on #974
This should stay open until the root cause is figured out.

[2018-06-11 08:41] notimewaste opened #976 "unable to build webapp due to incorrect reference in dashboard.module.ts"
Steps

1.`cd web `
2.`ng build --deploy-url="/.dist"`

output

`ERROR in web/app/common/components/common-components.module.ts(4,36): error TS2307: Cannot find module '../../shared_material.module'.
web/app/dashboard/dashboard.module.ts(12,36): error TS2307: Cannot find module '../shared_material.module'.`

[2018-06-11 08:54] WildStudio opened #978 "Signup /setup flow not working"
I followed the instructions to get up and running the CI, but it haven't take me through a flow to set up a new CI user.

[2018-06-11 16:18] taquitos opened #980 "Encapsulate GitRepo exception handling and pull it out of git_repo.rb"
As we continue to move forward, it will be important to identify exceptions, post appropriate notifications so that users understand if this is something they need to care about, and to prevent the server from crashing.
Right now in `git_repo.rb` we have a method: `def handle_exception(ex, console_message: nil, exception_context: {})`
This currently handles all of that logic. We should pull this o

[2018-06-11 17:18] KrauseFx opened #981 "Publish sub-tools on RubyGems before beta release"
From the `Gemfile`, this includes

- https://github.com/fastlane/TaskQueue
- https://github.com/fastlane/fastlane
- https://github.com/fastlane/fastfile-parser

Also at the time of writing, we have a few forks, that we either need to get merged, or publish our own fork

- https://github.com/fastlane/ruby-git
- https://github.com/GoogleCloudPlatform/google-cloud-ruby

[2018-06-11 17:26] KrauseFx commented on #978
Oh that's interesting. We're actually working on onboaring using the new frontend. Have you used the `FASTLANE_CI_ERB_CLIENT` ENV variable to use the legacy front-end for onboarding?

[2018-06-11 17:40] taquitos commented on #976
Fixed in https://github.com/fastlane/ci/pull/968

[2018-06-11 18:03] #976 closed

[2018-06-11 18:27] KrauseFx opened #982 "Remove unused code from services"
Via https://github.com/fastlane/ci/pull/935/files#r192134755

[code]
We have that across multiple services, let's remove that

[2018-06-11 18:31] KrauseFx commented on #980
Maybe something to consider: as a follow-up to https://github.com/fastlane/ci/pull/951, we also need to use some of the git code we wrote on our worker. The worker is pretty basic and doesn't know a lot, however it needs to know about a GitRepo and how to clone/auth it. We created an issue with https://github.com/fastlane/ci/issues/966.

Not sure if that's super relevant, just fyi

[2018-06-11 18:38] KrauseFx commented on #950
What do you mean by that? Sorry I don't understand.

Like limit the number of `builds/[number].json` files?

[2018-06-11 18:40] KrauseFx commented on #945
Hey @baturorkun, can you confirm that @vjanssens' response helped? Sorry onboarding is still a little rough, we're working on making things easier 👍

[2018-06-11 18:47] KrauseFx commented on #971
This is great, I'd love that. Instead of using our custom fastlane `issue-bot`, let's be fancy and use the brand new peril (maybe soon we'll even get peril as a service) 👍

We already have a [peril-settings](https://github.com/fastlane/peril-settings) repo in our org, and a bot that runs those rules for us. Right now we only use it for regression detection 👍

cc @orta

[2018-06-11 18:49] powerivq opened #983 "Update Sinatra to >=2.0.2 for vulnerability"
https://github.com/fastlane/ci/pull/970 https://github.com/fastlane/ci/pull/972

There has been an attempt to upgrade the Sinatra to 2.0.2 for a known vulnerability, however it caused a regression. Further investigation is needed to figure out why and fix that.

Stack trace copied here
[code]

[2018-06-11 20:10] orta commented on #971
Yeah, you could:

a) add a scheduled task (you'd need to add a mongo instance to your peril, or switch to my peril staging) ([settings.json](https://github.com/artsy/peril-settings/blob/master/peril.settings.json#L25-L31) [example task](https://github.com/artsy/peril-settings/blob/master/tasks/daily-license-check.ts)

b) find an event to run the check on every so often, maybe on a new tag being cr

[2018-06-12 05:55] kerry opened #984 "KrauseFx:patch-1 branch for google-cloud-ruby deleted"
In Gemfile on the master, there is a dependency

Access to Google Cloud Platform Storage API.
`gem "google-cloud-storage", git: "https://github.com/krausefx/google-cloud-ruby", branch: "patch-1"`
TODO: Should be ">= 1.12.0", "< 2.0" once https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2099 is merged

But the patch-1 branch has already been deleted so this dependency fails to resolve.

[2018-06-12 07:17] androuis opened #985 "Step 5 fails (bundle install from Using fastlane.ci)"
I got at step 5 from Using fastlane.ci: bundle install and it fails with this error:
Revision f71ec2e7a1eaf43c15312d611dd1cc4de530f823 does not exist in the
repository https://github.com/krausefx/google-cloud-ruby. Maybe you misspelled
it?

[2018-06-12 08:17] WildStudio commented on #978
@KrauseFx No I haven't use that ENV variable. As soon as I ran the CI on localhost:8080 it prompted me with the login fields. I already set up the angular frontend as explained in the README. I don't know if it has something to do with but I had Jenkins running as a Daemon listening on port 8080.

[2018-06-12 13:47] KrauseFx commented on #983
Cool, thanks for creating this issue, I tagged it for the Beta milestone 👍

[2018-06-12 14:00] KrauseFx commented on #978
Yeah makes sense. Sorry we haven't finished onboarding on the new frontend yet. For now, can you launch the server using

[code]

and see if that works (for onboarding). Once you set fastlane.ci up you can remove that ENV variable again

[2018-06-12 14:00] KrauseFx commented on #985
Ahhh, nice catch, thanks, working on a fix

[2018-06-12 14:03] KrauseFx commented on #984
Ahhh, nice catch, thanks, working on a fix

[2018-06-12 16:33] #984 closed

[2018-06-12 16:33] #985 closed

[2018-06-12 16:33] KrauseFx commented on #984
Just merged https://github.com/fastlane/ci/pull/986, could you give it another try?

[2018-06-12 16:33] KrauseFx commented on #985
Just merged https://github.com/fastlane/ci/pull/986, could you give it another try?

[2018-06-13 06:35] androuis commented on #985
Yes. It works. Thanks :)

[2018-06-13 14:58] KrauseFx commented on #985
Great to hear

[2018-06-13 18:35] taquitos commented on #974
Not quite fixed, PR incoming

[2018-06-13 18:51] #974 closed

[2018-06-15 15:32] #870 closed

[2018-06-15 16:44] taquitos opened #993 "Broken tests for settings"
[code]

[2018-06-15 16:47] taquitos opened #994 "Status checks are passing, but locally, tests are failing"
it seems that CI is not testing the right code from PRs since this is happening:
https://github.com/fastlane/ci/issues/993 (Broken tests for settings)
But the PR that merged these things was green: https://github.com/fastlane/ci/pull/935

[2018-06-15 17:48] taquitos opened #996 "If missing `environment_variables.json` ci wants to onboard"
I think this is a recent addition, but it breaks CI in that it won't startup due to:
[code]
because in OnboardingService we have this:
`CONFIGURATION_FILES = ["users.json", "projects.json", "environment_variables.json"].freeze`
which is checked to make sure the repo is setup properly.
In this case, I think we should probably create defaults instead of going through onboarding.

[2018-06-15 17:55] KrauseFx commented on #996
[code]

is created during onboarding. for now please create the file manually until we automate this

[2018-06-15 18:21] KrauseFx commented on #996
Looking at this, it does sound like it will cause some extra work to automatically migrate the user. New users will automatically have the file

The error message
[code]
is already very clear, I'll update it to explain how to easily create the file.

[2018-06-15 18:21] KrauseFx commented on #996
I'm gonna update it to call out the exact file name

[2018-06-15 18:31] KrauseFx commented on #996
It was my bad. Those files are generated on the fly anyway, no need to check if they exist. I'll update the PR, as well as added a comment mentioning this

[2018-06-18 08:11] Ashraf-Ali-aa opened #1001 "Git hooks"
Rather than use `.pre-commit` file to run pre-commit checks it might be worth using a gem called overcommit that handles all the logic for pre-commit, pre-push etc. plus you can add custom checks very easily. Also, the gem has a bunch of default checks like rubocop and typescript.

https://github.com/brigade/overcommit

#### caveat
when you rebase and change the overcommit configuration file you m

[2018-06-18 16:05] AndrewMcBurney commented on #996
This was due to my oversight. I added `environment_variables.json` to the list , but the edge case described in #989  only exists when the `users.json` and `projects.json` files were not present in the `fastlane-ci-config` folder. I'll create a PR.

The problem is that if the `.keys` file exists with all the required variables set, but the `fastlane-ci-config` folder is empty (i.e., the git clone

[2018-06-18 16:15] AndrewMcBurney commented on #996
If you have all the required environment variables in `.keys`, have the `.fastlane/ci/fastlane-ci-config` folder locally, but don't have a `users.json` present in the folder, you will not be onboarded, and it will fail due to not being able to find the bot user account:

[code]

[2018-06-18 16:33] AndrewMcBurney commented on #996
After a discussion with @taquitos, we've decided to close this issue. This problem should only affect alpha users who had an outdated version of the `fastlane-ci-config` repo. The solution to fixing this problem is to create the file `environment_variables.json` in the `~/.fastlane/ci/fastlane-ci-config` folder.

[2018-06-18 16:33] #996 closed

[2018-06-18 16:49] #994 closed

[2018-06-19 10:07] nakhbari commented on #950
Each build has a copy of the entire repo, including any build data that was created in that workspace during the fastlane command. As seen when doing something like `npm install` this can be quite costly when it comes to disk space. Those lingering files are what should be deleted. The actual build data we display (outcome, logs, artifacts) should remain intact.

[2018-06-19 10:50] nakhbari opened #1006 "Audit NPM vulnerabilities"
Noticed the following message when doing an `npm install`

[code]

Need to audit the deps and look into the vulnerabilities.

[2018-06-19 11:13] nakhbari opened #1009 "Getting list of projects takes quite some time"
It takes over 10 seconds to load the project list. Could this be related to the check to see which repos the user has access to?

![image](https://user-images.githubusercontent.com/2754461/41594060-f3203b3c-7376-11e8-9244-ed295f6c4d5a.png)

[2018-06-19 11:34] #753 closed

[2018-06-19 11:37] nakhbari opened #1010 "JSON GET to get the User's email from API token"
Parent: #784
Need an API endpoint (probably in the `repo_json_controller`) to get the User email of the given API Token. This also verifies a token is good. This can be used in onboarding and re-used in the account creation.

[2018-06-19 11:41] nakhbari opened #1011 "Account creation"
#### Backend
- [x] Endpoint to create an Account given an API Token (should return Auth token) #1013
- [x] JSON GET to get the User's email from API token #1010

#### Frontend
- [x] Sign up page
- [ ] Post request to make account creation
- [ ] Link from login page to get to sign up page

[2018-06-19 11:41] nakhbari commented on #752
Done, added a separate issue for account creation https://github.com/fastlane/ci/issues/1011

[2018-06-19 11:41] #752 closed

[2018-06-19 11:41] nakhbari commented on #749
Done, added a separate issue for account creation https://github.com/fastlane/ci/issues/1011

[2018-06-19 11:41] #749 closed

[2018-06-19 12:02] nakhbari opened #1012 "JSON POST endpoint to create config repo"
Parent: #784

Endpoint should take in an org and be able to create a config repo unless one already exists.

[2018-06-19 12:04] nakhbari opened #1013 "Endpoint to create an Account given an API Token"
Parent: #1011

POST endpoint to create a user. Input should be an API Token and password. The email should be pulled from the API token and be used as the user ID.

This endpoint should login the new user by returning a JWT token.

[code]

[2018-06-19 12:39] KrauseFx commented on #890
This should be complete, if not we can re-open again 👍 At least we got it working 3 weeks ago https://twitter.com/KrauseFx/status/1002309843712200704

[2018-06-19 12:39] #890 closed

[2018-06-19 13:15] nakhbari commented on #682
Was thinking that we need some sort of notification that the build was triggered while we're waiting for a response on the rebuild. Maybe also add a notification if the build has already been triggered to rebuild, as to throttle the question and/or prevent accidental duplicate rebuilds?

@chemichelle WDYT?

[2018-06-19 14:13] KrauseFx commented on #950
Ahh got it. Yeah I believe the workspaces can safely be cleaned after the build is finished and its artifacts were uploaded, right? This actually ties in with the new master/worker code

[2018-06-19 14:17] KrauseFx commented on #1009
Yes, this is something we really have to fix, and I think you're right! Right now we're listing all the user's repo every time you list all the projects. This is very slow on accounts with write access to many repos. When working on fixing this (e.g. by caching) we have to make sure to consider the user gets access revoked use case https://github.com/fastlane/ci/blob/master/docs/use_cases/user_get

[2018-06-19 14:57] taquitos commented on #983
Closing in favor of a newer PR: https://github.com/fastlane/ci/pull/1005

[2018-06-19 14:57] #983 closed

[2018-06-19 15:01] taquitos opened #1015 "credential store is getting duplicates, need to be better at handling this"
When we add the git user credentials to the local store, we need to make sure we are not duplicating them, and that we actually remove them when done.
We also need to be careful we don't remove them when another build is using them.

[code]

[2018-06-20 06:51] Ashraf-Ali-aa commented on #748
@KrauseFx it would be really good to use a generic file result parsing like https://github.com/hive-ci/res this way it can support multiple file formats and different frameworks, currently this is being used for the Hive CI also this looks promising https://github.com/TitouanVanBelle/XCTestHTMLReport

[2018-06-20 12:58] Ashraf-Ali-aa commented on #748
currently is not in active development but what it does is converts results files like Junit to a JSON format in order to standardise the results that can be passed to different systems. I was planning on adding xctest test summary support.

[2018-06-20 17:36] bogdanbrato opened #1019 "Onboarding workflow fails with "Repository creation failed; message: name already exists on this account" when trying to set FASTLANE_CI_REPO_URL"
Here's what I've done:
`rm -rf ~\.fastlane`
`set FASTLANE_CI_ERB_CLIENT=1`
`bundle exec rackup`

I then followed the onboarding process until the page where `FASTLANE_CI_REPO_URL` is set. I tried to set FASTLANE_CI_REPO_URL to a repo I just created and when I press "SetPrivateConfigurationRepository", I've got:

::1 - - [20/Jun/2018:10:20:59 -0700] "POST /onboarding_erb/git_repo HTTP/1.1" 500 1208

[2018-06-20 17:59] taquitos opened #1020 "[Onboarding] create new repo needs server-side default `fastlane-ci-config`"
Right now there's no default name for the fastlane ci config repo during onboarding which can lead to failures if you don't enter one

[2018-06-20 19:53] #1001 closed

[2018-06-20 20:07] #1020 closed

[2018-06-20 21:03] #934 closed

[2018-06-20 21:42] taquitos commented on #945
While this is sorted out, you can switch to use only the old-style ERBs with `FASTLANE_CI_ERB_CLIENT=1`

[2018-06-21 19:18] taquitos commented on #700
Fixed already

[2018-06-21 19:18] #700 closed

[2018-06-22 08:22] Ashraf-Ali-aa opened #1026 "Git branching strategy"
Would it be worth adopting a new the branching strategy for the project, currently when pull requests are merged they are branched off at a certain point and directly merged in after all the CI check but the issue is it hard to follow when the branch gets merged and also makes it difficult to do a git bisect.

### Previous

<img width="763" alt="image" src="https://user-images.githubusercontent.co

[2018-06-22 17:13] taquitos commented on #993
This was fixed at some point

[2018-06-22 17:13] #993 closed

[2018-06-22 18:30] KrauseFx commented on #993
Yeah thanks

[2018-06-22 21:14] nakhbari opened #1030 "New workers should be created for new projects"
Currently when you add a new project you have to restart the server to have workers created for it.

[2018-06-22 22:01] nakhbari opened #1031 "File serving endpoints broken while running Build"
While builds are running any File serving endpoint will return a `404`

It looks like during the build we change the working directory to something like `"/Users/nakhbari/.fastlane/ci/13c7965a-2911-4773-ba6c-e252e6ce5b7b/builds/0615a176d28cd4458d442090f0f21fdfd0ee22df"` so when we try to serve the HTML files, the directory is incorrect and the file cannot be found.

I think only the thread which i

[2018-06-26 14:29] KrauseFx commented on #1031
I don't fully understand the 404 error and when you'll receive it. As part of which API / web socket do you get a 404 error? Does it happen when accessing the artifacts?

[2018-06-26 16:46] nakhbari commented on #1031
When loading the web client we send the files for the JS code + HTML bundle + assets. These files are sent here: https://github.com/fastlane/ci/blob/master/fastlane_app.rb#L68. The file path we use is relative. I noticed when debugging that when a build is in progress, the working directory is not `.../ci` but it's the build folder where the cloned repo is for the build. So when the endpoint tries

[2018-06-26 17:13] KrauseFx commented on #1031
Got it, this might be related to how we currently deal with git, due to some issues with the libraries we're using (@taquitos is working on patching this)

Just to confirm, the way to reproduce this is to run a build using the new frontend, and while the build is running, refresh the page, and not getting the HTML file?

[2018-06-26 17:15] nakhbari commented on #1031
Yes, this can also be reproduced in the ERB client as well.

[2018-06-26 17:55] KrauseFx commented on #1031
Got it, looking into this now. Thanks

[2018-06-26 18:48] nakhbari commented on #918
Looks like @KrauseFx did some work here: https://github.com/fastlane/ci/pull/927

Still need to figure out the best method to download the artifact.

My thoughts are to return the download link along-side the rest of the artifact data.
The response would have the `download_url` whether it be hosted locally or in the cloud.

Ex.
[code]

The difference here is that the web-app can be dumb and just r

[2018-06-26 18:58] KrauseFx commented on #1031
<img width="1200" alt="screen shot 2018-06-26 at 2 58 28 pm" src="https://user-images.githubusercontent.com/869950/41933282-6709612e-7951-11e8-88dc-9a394fe933c3.png">

So I can't reproduce this using the ERB client, will give it a try using the Angular client after the meeting

[2018-06-26 19:55] KrauseFx commented on #918
Yeah I don't think we decided on the download yet, mostly because we didn't implement the upload yet for the fastlane.ci workers, this is blocked by the worker task going on right now https://github.com/fastlane/ci/pull/951 👍

[2018-06-26 20:18] nakhbari opened #1041 "Websocket Logs are backfilled"
The websocket should send all the logs up until that point on a new connection. This includes the scenario where the build is complete, we should send all the logs.

[2018-06-26 22:34] KrauseFx commented on #1041
Ha, yeah I forgot to implement this in the new JSON controller. The way we implemented it in the non-JSON controller is not by using a socket connection, but just the regular API

More info here https://github.com/fastlane/ci/blob/111cdc06add3ce501ff73f4a83bd5bd0caacae4b/app/features/build/build_controller.rb#L85-L100

When it comes to fetching the previous output, this is blocked by the distribut

[2018-06-26 22:40] nakhbari commented on #1041
Yeah i think i'm gonna copy the current implementation for now.

I think for the worker it would make sense to always use the websocket and just backfill the logs that have been missed on a new connection. With the last line being an EOT we will close the websocket.

[2018-06-27 21:05] nakhbari commented on #1019
@KrauseFx Do we still have that issue where we only try to create a config repo and not allowing re-using an existing one?

[2018-06-27 23:42] KrauseFx commented on #1019
Mh not that I know of, let's use this one to keep track of it.

[2018-06-28 08:26] LivioGama opened #1046 "No GitHub"
Hello,

The documentation says : "Adapters: Store your configuration and artifacts on services you already use, like GitHub or your own git server"

What if we don't use GitHub at all ? In the onboarding when can't skip the steps related to GitHub and if we don't have an account we can't proceed further at this step.

![screen shot 2018-06-28 at 10 25 41](https://user-images.githubusercontent.com/

[2018-06-28 08:49] Ashraf-Ali-aa commented on #457
@KrauseFx I was thinking of adding support for the real devices and simulators on the worker node, but I was wondering how does the fastlane.ci child node work, I was planning on porting over a some of the features of Hive CI but on Hive CI worker node runs a daemon process similar to like a server that polls USB connected devices and then reports back to a server called Hive mind that is used to

[2018-06-28 12:19] hfossli commented on #945
I had to do:
[code]

(I didn't know how to run the `ng` command, now I know)

[2018-06-28 14:56] KrauseFx commented on #1046
Right now we only support GitHub, there will be support for more code hosting services later after the first 1.0 launch 👍

[2018-06-28 14:56] KrauseFx commented on #457
Hey @Ashraf-Ali-aa, we're currently actively working on the worker system with https://github.com/fastlane/ci/pull/951, so for now, please don't work on that code as we'll change it 👍 Thanks for offering to help

[2018-06-28 15:08] #1046 closed, assigned to nobody

[2018-06-28 15:14] KrauseFx commented on #1046
Thanks, yes it's mentioned in our goals for now https://github.com/fastlane/ci/blob/master/VISION.md#goals-for-the-initial-release

[2018-06-28 15:16] LivioGama commented on #1046
I meant that for now, it’s only github

[2018-06-29 22:23] #1010 closed

[2018-06-29 22:23] #1031 closed

[2018-07-02 22:10] anshulagl opened #1052 "Unable to add new projects: Invalid Lane Name"
Adding a new project, and selecting a lane to build on adds an extra string "no platform". When the build is triggered, the lane name is sent as "no platform <actual lane name>", which counts as an invalid lane name, and thus the build fails.

<img width="1622" alt="screen shot 2018-07-02 at 3 07 48 pm" src="https://user-images.githubusercontent.com/2488091/42188672-d2618688-7e09-11e8-82d0-5009c69

[2018-07-03 17:21] KrauseFx commented on #1052
Added the right milestone + label 👍

[2018-07-03 17:21] KrauseFx commented on #1052
Is that something you're looking into?

[2018-07-03 17:47] nakhbari opened #1054 "Build logs formatting"
Parent: #709
Logs need to be some sort of agreed json format (timestamp, log ANSI)

Should we pass along the ANSI build log and have the UI format it? @snatchev @KrauseFx  WDYT?

[2018-07-03 17:49] snatchev commented on #1054
My vote is for yes. It should be raw txt, and the same content as if you
were to open the fastlane.log from the artifacts on disk/bucket.

On Tue, Jul 3, 2018 at 1:47 PM Nima Akhbari <notifications@github.com>
wrote:

[2018-07-03 17:49] nakhbari commented on #1041
@snatchev do you think this fits as a part of the distributed builds?

[2018-07-03 17:50] snatchev commented on #1041
Yup, it's mostly working at the moment on my branch
https://github.com/fastlane/ci/pull/951

On Tue, Jul 3, 2018 at 1:49 PM Nima Akhbari <notifications@github.com>
wrote:

[2018-07-03 17:56] nakhbari commented on #1013
@KrauseFx Could you help me out with this?

[2018-07-03 18:00] nakhbari commented on #1012
Expecting the post body to look like this

[code]

There are a lot of errors that can happen here.

@KrauseFx do you have cycles to work on this?

[2018-07-03 18:02] nakhbari commented on #442
Kicking this to v1

[2018-07-03 18:05] anshulagl commented on #1052
I think I need to be added in the org. I do not have access to assign this to myself

[2018-07-03 18:05] nakhbari commented on #1052
I think we just need to make `no_platform` to an empty string here: https://github.com/fastlane/ci/blob/690330a3027402c70559843f827a51cf6f81ff02/app/features-json/repos_json_controller.rb#L94

[2018-07-03 18:22] anshulagl commented on #1052
It seems that we are passing the lane and platform name in the APIs and code as space separated string. Should we just make it 2 different params, and display in the frontend as we want? Would be more flexible and will create generic APIs.

https://github.com/fastlane/ci/blob/690330a3027402c70559843f827a51cf6f81ff02/app/features-json/project_json_controller.rb#L37

[2018-07-03 21:50] nakhbari commented on #945
@hfossli I missed this, but it is recommended to do `npm run build` it will use the locally installed npm dependencies to build the app for you.

[2018-07-06 13:20] KrauseFx commented on #1013
Yes, I can take that on today 👍

[2018-07-06 14:45] KrauseFx commented on #1013
I don't think that's a good idea. We probably will have some kind of user management at some point, which ideally uses the same API endpoint I guess? I believe we should let the frontend do 2 requests:

1. Create the user
1. Login

[2018-07-06 22:38] nakhbari opened #1060 "Project Settings Dialog"
Parent: #682

- [x] Create a Master Detail Card Component
- [x] Create Settings Dialog
- [x] Add General Settings placeholder
- [ ] Create Environment Key Editor Component
- [ ] Pipe full Repo name and full lane name to the frontend
- [ ] Endpoint to update the project
- [ ] Endpoint to change environment Keys

[2018-07-09 06:13] Aravindios opened #1065 "fastlane.ci: command not found"
**how to run fast lane.ci in Mac OS**
error while running Fastlane.ci

**apple$ fastlane.ci
-bash: fastlane.ci: command not found**
 can any one slove this.

[2018-07-09 15:13] KrauseFx commented on #1065
Did you follow the instructions provided in the main README? https://github.com/fastlane/ci#using-fastlaneci

There is no binary called `fastlane.ci` 👍

[2018-07-09 19:03] nakhbari commented on #1012
Should break up the requests or just make a super-request at the end of the form?

Offline discussion between @anshulagl and I:

A super request at the end sounds a better approach to me, it really depends on if we want to checkpoint user's onboarding if she wants to return back and complete it at a later point of time, if that's the desired experience, independent requests might make more sense.

[2018-07-09 19:21] #814 closed

[2018-07-09 19:28] KrauseFx commented on #1012
Taking this on now

[2018-07-09 19:35] KrauseFx commented on #1012
I'm gonna rename `robot` to `bot`
[code]

[2018-07-09 20:20] #457 closed

[2018-07-09 20:21] #1013 closed

[2018-07-10 04:56] anshulagl commented on #1052
The manual builds got fixed automatically with https://github.com/fastlane/ci/pull/951. Will debug to make sure we find exact cause in old build system.

[2018-07-10 16:14] taquitos opened #1069 "Crash on startup after pulling master"
It seems there is a problem with queuing builds:

[code]

the projects all have triggers:
[code]

[2018-07-10 16:17] AndrewMcBurney commented on #1069
Hmm, I'm confused at the first line

[code]

Why is it checking my fork of ci?

[2018-07-10 16:21] taquitos commented on #1069
@AndrewMcBurney because you have a PR up on `fastlane/ci` that is based off your fork  😄
It's not actually checking your fork, it's pulling a `ref` GitHub set up for the `PR`

[2018-07-10 16:24] taquitos commented on #1069
I updated the `projects.json` so that each project had `pull_request` instead of `commit` for each trigger:

[code]

[code]

[2018-07-10 19:57] #1069 closed

[2018-07-12 10:13] Aravindios commented on #1019
I to have same issue
 while running  FASTLANE_CI_ERB_CLIENT=1 bundle exec rackup

I get like this

/Users/apple/.rvm/gems/ruby-2.3.5/gems/octokit-4.9.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/user/emails: 401 - Bad credentials // See: https://developer.github.com/v3 (Octokit::Unauthorized)

how to solve it

[2018-07-12 15:50] KrauseFx commented on #1019
Hey @Aravindios, this project is not ready for production yet, also please be respectful and stop downvoting our comments. Your issue is not at all related to the issue you posted your comment in.

[2018-07-12 20:01] KrauseFx opened #1075 "Link to build output uses old _erb template"
Currently the `Details` button on GH links to erb (http://207.254.46.22:8080/projects_erb/32903571-271e-4c87-9b32-11df3c82d5aa/builds/179)

[2018-07-13 04:49] Aravindios commented on #1019
ok @KrauseFx sorry.

[2018-07-13 15:13] KrauseFx opened #1078 "Think about security threat model for the GH API token more"
If we build external PRs, a malicious actor can submit a PR to a repo which replaces the test scripts to just print out all ENV variables, and therefore get access to secrets like the GitHub API token

1. We can build only PRs from local branches
1. The GH token has such limited access, that it can only set the build status

Other approaches?

[2018-07-13 15:15] KrauseFx opened #1079 "Stub out the dot keys access globally for all rspec tests"
Slightly related to https://github.com/fastlane/ci/issues/1078, but separate task: In `rspec` tests we never ever want to access the original `.keys` file that's being used by actual fastlane.ci running

[2018-07-13 15:21] KrauseFx commented on #464
Working on this now

[2018-07-13 15:22] KrauseFx commented on #464
We now have 146 open TODOs in the code base 😢

[2018-07-13 15:29] KrauseFx opened #1080 "Each project should define a default branch"
Right now, we have multiple occurrences (about 8) where we fallback to the default branch "master". While most git setups have master as default branch, we probably want a per-project setting of the default/main branch.

Instead of a setting, it seems enough to fetch it on the fly and cache it somewhere (https://stackoverflow.com/a/44750379/445598)

[2018-07-13 15:38] KrauseFx opened #1082 "Support for application specific password for iTunes Transporter"
Sub task for implementing 2FA support with https://github.com/fastlane/ci/issues/639

With the `prefix` option when handling Apple IDs we can store the application specific password that can be used to upload binaries for 2FA protected accounts

[2018-07-13 15:45] KrauseFx opened #1084 "Fix tests that broke recently"
https://github.com/fastlane/ci/blob/master/spec/features-json/api_controller_spec.rb#L140-L142

Tests I broke, maybe you can help out 👍

[2018-07-13 15:52] KrauseFx opened #1086 "Exposing the GIT_BRANCH ENV variable won't work if user builds specific SHA"
I haven't looked into how other CI systems deal with this, but right now we're just falling back to `master` by default via https://github.com/fastlane/ci/blob/842b999ebf1a9198669c2678d196ec5d0568104d/app/features/build_runner/remote_runner.rb#L251

This will be interesting when hitting the `Rebuild` button, where we obviously want to rebuild a specific commit, but also it's usually initially bein

[2018-07-13 16:30] KrauseFx commented on #1078
Also described here
[code]
via https://jamie.build/how-to-build-an-npm-worm

[2018-07-13 16:48] AndrewMcBurney commented on #1079
Hey @KrauseFx,

Don't we already have the functionality defined [here](https://github.com/fastlane/ci/blob/master/spec/stub_helpers.rb#L10-L17)? A usage example in a test suite which requires environment variables can be found [here](https://github.com/fastlane/ci/blob/master/spec/services/data_sources/json_user_data_source_spec.rb#L10).

Do you want this to be applied to all test suties? If so, I

[2018-07-13 22:17] nakhbari commented on #1012
The requirements for this endpoint are now changing due to the usage of GitHub OAuth Apps. I will update this issue with the draft proposal

[2018-07-14 20:12] #1075 closed

[2018-07-16 15:29] snatchev opened #1089 "update websocket client for builds."
Unblocks: #1071

Update the frontend websocket request and response handlers. Because we don't want to support two code paths, based on what kind of BuildRunner is performing the action, lets just migrate all BuildRunner invocations to `RemoteRunner`

- [x] websocket request must use authentication to establish the connection
- [x] websocket request should use the new URL, which is not a rack midd

[2018-07-16 18:27] KrauseFx commented on #1089
What milestone should this be of? Beta?

[2018-07-16 18:38] snatchev commented on #1089
@KrauseFx yes. Milestone added.

[2018-07-17 08:35] witchlock commented on #463
It would be great if bitbucket is supported too.

[2018-07-17 16:11] mikelrob opened #1090 "Vagrant provisioning failure"
Hey, I'm very excited about this project and think the task you folks are undertaking is immense!

I've been tying to get the system up using vagrant but I'm having some trouble that I can't resolve. I hope you could spare a moment to look.

I followed the Using `fastlane.ci` with Vagrant steps on the README but the provision script fails during `npm install` - complaining it cannot read property

[2018-07-23 18:31] nakhbari commented on #1078
This is a tough one. Running local branches seems like a huge limitation on what is tested. This could be avoided by using the master Fastfile at all times, but this has its own cons.

[2018-07-23 18:44] KrauseFx commented on #1078
Running just local branches instead of external PRs for open source projects is the most common setup across the available CI systems (e.g. Travis and Circle), however I'd love to find a better solution

[2018-07-23 23:05] nakhbari commented on #1012
@KrauseFx With the proposal approved and some of the UI work being done. I think we can safely say that this is the direction to head with this endpoint. Of course now we have a couple more endpoints to add with the new OAuth design. Those end points are outlined in the parent issue: #784. **Are you still free to take some of these on?**

[2018-07-24 12:12] AppleEducate commented on #945
@hfossli I had to do the following
[code]

[2018-07-25 19:00] #1089 closed

[2018-07-26 15:23] #578 closed

[2018-07-26 17:41] snatchev commented on #1041
This feature is live in #1093

[2018-07-26 17:41] #1041 closed

[2018-07-30 14:15] KrauseFx opened #1110 "Remove the "no_platform" from the dropdown when adding a new project"
![screen shot 2018-07-30 at 10 15 05 am](https://user-images.githubusercontent.com/869950/43402751-72773cc0-93e1-11e8-910f-a5e51e5053d1.png)

[2018-07-30 14:15] KrauseFx commented on #1110
Let's just remove the `no_platform` prefix when showing the dropdown to the user

[2018-07-30 14:21] KrauseFx commented on #774
We could do this now 👍

[2018-07-30 14:23] KrauseFx opened #1111 "Build details should show the build status"
![screen shot 2018-07-30 at 10 22 57 am](https://user-images.githubusercontent.com/869950/43403234-8d82824e-93e2-11e8-98b1-aa01e4d57f64.png)

Let's show the build status on the right side also, @snatchev and I weren't 100% sure if the build is pending or already running, having a label on the right side showing the status would be 💯

[2018-07-30 14:26] KrauseFx opened #1112 "New projects should always have a manual trigger"
Seems like with the new frontend / ProjectJSONController we don't add the manual trigger by default, I just onboarded a new project, and now there is no way for me to test it without submitting a test PR

[2018-07-30 14:42] KrauseFx commented on #1112
Looks like the trigger is there, but for some reason the trigger button is not rendered
[code]

[2018-08-07 06:58] Colstuwjx opened #1113 "docker deployment 502 under nginx proxy"
Hi team,

I deployed fastlane ci web via docker-compose, and it startup as usual, but when I setup a nginx in front of it, visit the fastlane ci web shown 502:

[code]

Some errors found in nginx error.log:

[code]

and curl responsed:

[code]
Help!

[2018-08-07 18:14] KrauseFx commented on #1078
Aaaaand, the next one got affected https://medium.com/@vesirin/how-i-gained-commit-access-to-homebrew-in-30-minutes-2ae314df03ab

[2018-08-08 14:31] greece57 opened #1114 "Initial Run Problem: "can't find executable foreman for gem foreman.""
I'm trying to setup fastlane/ci by following the tutorial on my Mac. When following all steps and running
`bundle exec rake prod`
I get the following error:
`rake aborted!
`foreman` is now required for process management. `sudo gem install foreman`
/Users/quickbird/Documents/ci/Rakefile:13:in `block in <top (required)>'
/Library/Ruby/Gems/2.3.0/gems/rake-12.3.1/exe/rake:27:in `<top (required)>'
/L

[2018-08-09 20:07] MishkaTheCub commented on #1114
In my case I get this error after installing foreman:

[2018-09-02 15:04] savvygit opened #1118 "Blank page after bundle exec rake dev"
After starting `bundle exec rake dev` then browse to localhost:8080 is just get blank page with fastlane.ci title and icon

is there a way to debug it ?

Procfile.dev
web: bundle exec rackup --host 0.0.0.0 --port 8080 --env development
worker: bundle exec ruby agent/service.rb

$ bundle exec rake dev
foreman start -f Procfile.dev
16:50:25 web.1    | started with pid 29950
16:50:25 worker.1 | start

[2018-09-02 16:22] #1118 closed, assigned to nobody

[2018-09-13 15:41] #1113 closed

[2018-09-13 15:42] #1112 closed

[2018-09-13 15:43] #1111 closed

[2018-09-13 15:43] #1110 closed

[2018-09-13 15:43] #1090 closed

[2018-09-13 15:43] #1086 closed

[2018-09-13 15:43] #1082 closed

[2018-09-13 15:43] #1080 closed

[2018-09-13 15:43] #1078 closed

[2018-09-13 15:43] #1060 closed

[2018-09-13 15:43] #1065 closed

[2018-09-13 15:43] #1054 closed

[2018-09-13 15:43] #1052 closed

[2018-09-13 15:43] #1026 closed

[2018-09-13 15:43] #1019 closed

[2018-09-13 15:43] #1015 closed

[2018-09-13 15:43] #1012 closed

[2018-09-13 15:43] #1011 closed

[2018-09-13 15:43] #1009 closed

[2018-09-13 15:43] #1006 closed

[2018-09-13 15:43] #982 closed

[2018-09-13 15:43] #981 closed

[2018-09-13 15:43] #980 closed

[2018-09-13 15:43] #978 closed

[2018-09-13 15:43] #971 closed

[2018-09-13 15:43] #967 closed

[2018-09-13 15:43] #966 closed

[2018-09-13 15:44] #964 closed

[2018-09-13 15:44] #959 closed

[2018-09-13 15:44] #958 closed

[2018-09-13 15:44] #956 closed

[2018-09-13 15:45] #955 closed

[2018-09-13 15:45] #953 closed

[2018-09-13 15:45] #950 closed

[2018-09-13 15:45] #948 closed

[2018-09-13 15:45] #945 closed

[2018-09-13 15:45] #940 closed

[2018-09-13 15:45] #918 closed

[2018-09-13 15:45] #914 closed

[2018-09-13 15:45] #904 closed

[2018-09-13 15:45] #902 closed

[2018-09-13 15:45] #901 closed

[2018-09-13 15:45] #899 closed

[2018-09-13 15:45] #881 closed

[2018-09-13 15:45] #828 closed

[2018-09-13 15:45] #815 closed

[2018-09-13 15:45] #806 closed

[2018-09-13 15:45] #798 closed

[2018-09-13 15:45] #799 closed

[2018-09-13 15:45] #797 closed

[2018-09-13 15:45] #790 closed

[2018-09-13 15:45] #787 closed

[2018-09-13 15:45] #785 closed

[2018-09-13 15:45] #784 closed

[2018-09-13 15:45] #783 closed

[2018-09-13 15:45] #774 closed

[2018-09-13 15:45] #771 closed

[2018-09-13 15:45] #766 closed

[2018-09-13 15:45] #764 closed

[2018-09-13 15:46] #748 closed

[2018-09-13 15:46] #744 closed

[2018-09-13 15:46] #734 closed

[2018-09-13 15:46] #733 closed

[2018-09-13 15:46] #732 closed

[2018-09-13 15:46] #730 closed

[2018-09-13 15:53] #729 closed

[2018-09-13 15:53] #713 closed

[2018-09-13 15:53] #711 closed

[2018-09-13 15:53] #709 closed

[2018-09-13 15:53] #702 closed

[2018-09-13 15:53] #701 closed

[2018-09-13 15:53] #682 closed

[2018-09-13 15:53] #681 closed

[2018-09-13 15:53] #672 closed

[2018-09-13 15:53] #644 closed

[2018-09-13 15:53] #642 closed

[2018-09-13 15:53] #639 closed

[2018-09-13 15:53] #641 closed

[2018-09-13 15:53] #628 closed

[2018-09-13 15:53] #626 closed

[2018-09-13 15:53] #614 closed

[2018-09-13 15:53] #613 closed

[2018-09-13 15:53] #604 closed

[2018-09-13 15:53] #605 closed

[2018-09-13 15:53] #595 closed

[2018-09-13 15:53] #593 closed

[2018-09-13 15:53] #587 closed

[2018-09-13 15:53] #575 closed

[2018-09-13 15:53] #582 closed

[2018-09-13 15:53] #558 closed

[2018-09-13 15:53] #545 closed

[2018-09-13 15:53] #488 closed

[2018-09-13 15:53] #475 closed

[2018-09-13 15:53] #464 closed

[2018-09-13 15:53] #463 closed

[2018-09-13 16:17] #456 closed

[2018-09-13 16:17] #453 closed

[2018-09-13 16:17] #452 closed

[2018-09-13 16:17] #451 closed

[2018-09-13 16:17] #449 closed

[2018-09-13 16:17] #448 closed

[2018-09-13 16:17] #446 closed

[2018-09-13 16:17] #447 closed

[2018-09-13 16:17] #445 closed

[2018-09-13 16:17] #444 closed

[2018-09-13 16:17] #438 closed

[2018-09-13 16:17] #442 closed

[2018-09-13 16:17] #422 closed

[2018-09-13 16:18] #421 closed

[2018-09-13 16:18] #420 closed

[2018-09-13 16:18] #415 closed

[2018-09-13 16:18] #393 closed

[2018-09-13 16:18] #408 closed

[2018-09-13 16:18] #371 closed

[2018-09-13 16:18] #328 closed

[2018-09-13 16:18] #286 closed

[2018-09-13 16:18] #323 closed

[2018-09-13 16:18] #250 closed

[2018-09-13 16:18] #183 closed

[2018-09-13 16:18] #164 closed

[2018-09-13 16:18] #162 closed

[2018-09-13 16:18] #120 closed

[2018-09-13 16:18] #94 closed

[2018-09-13 16:18] #93 closed

[2018-09-13 16:18] #71 closed